<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head>
    <meta charset="UTF-8">
    <title></title>

    <!-- css 영역 -->
    <th:block layout:fragment="content_css">
    </th:block>

</head>

<body>
<th:block th:fragment="myPageSideFragment">
    <link rel="stylesheet" href="/css/fragment/myPage/myPage_side.css">
    <div id="side_wrap">
        <div id="w_in">
            <div class="side_title">
                <p class="side_tilte1">메뉴</p>
                <p class="side_tilte2">MENU</p>
            </div>
            <div class="side_menu">
                <p id="cscForm" class="sideForm favorite"><a href="/myPage/favorite">즐겨찾기</a></p>
                <p id="annForm" class="sideForm myContent"><a href="/myPage/myContent">내가 쓴 글</a></p>
                <p id="inqForm" class="sideForm myDetails"><a href="/myPage/myDetails">개인정보 수정</a></p>
                <p id="inqForm" class="sideForm"><a href="/myPage/myAlarm">내 알람</a></p>
            </div>
        </div>
    </div>
    <script src="/js/fragment/myPage/myPage_side.js"></script>
</th:block>
</body>

<!-- js 영역 -->
<th:block layout:fragment="content_js">
</th:block>

</html>