<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    xmlns:sec="http://www.thymeleaf.org/extras/spring-security6">

<!--<head>-->
<!--    <meta charset="UTF-8">-->
<!--    <title></title>-->

<!--</head>-->

<body>
    <th:block th:fragment="mainHeaderFragment">
        <link rel="stylesheet" href="/css/fragment/main/main_header.css">
        <div class="wrap">
            <div class="h_inner">
                <div class="headtop">
                    <div class="headLeft">
                        <div class="tap">
                            <svg xmlns="http://www.w3.org/2000/svg" width="33" height="33" fill="rgb(243,192,83)"
                                class="bi bi-justify-left" viewBox="0 0 16 16">
                                <path fill-rule="evenodd"
                                    d="M2 12.5a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7a.5.5 0 0 1-.5-.5m0-3a.5.5 0 0 1 .5-.5h11a.5.5 0 0 1 0 1h-11a.5.5 0 0 1-.5-.5m0-3a.5.5 0 0 1 .5-.5h11a.5.5 0 0 1 0 1h-11a.5.5 0 0 1-.5-.5m0-3a.5.5 0 0 1 .5-.5h11a.5.5 0 0 1 0 1h-11a.5.5 0 0 1-.5-.5" />
                            </svg>
                            <div class="popupTap">
                                <div class="popupInner">
                                    <div class="popupTitle">
                                        <p>전체메뉴</p>
                                    </div>
                                    <div class="popupBlock">
                                        <div class="popupBoxTitle">
                                            <p>레시피</p>
                                        </div>
                                    </div>
                                    <div class="popupBlock">
                                        <div class="popupBoxTitle">
                                            <p>마이페이지</p>
                                        </div>
                                    </div>
                                    <div class="popupBlock">
                                        <div class="popupBoxTitle">
                                            <p>고객센터</p>
                                        </div>
                                        <div class="popupContent">
                                            <p>공지사항</p>
                                            <p>1:1 문의</p>
                                            <p>문의 내역</p>
                                            <p>자주 찾는 질문</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="logoblock">
                            <div class="logo">
                                <a href="/">
                                    <img src="/img/logo1.png" alt="">
                                </a>
                            </div>
                        </div>
                    </div>
                    <form method="post" action="/mainpage/wideSearch" class="allSearchForm">
                        <div class="searchblock">
                            <div class="searchbox">
                                <input type="text" name="allSearchKeyword" class="allSearchKeyword" value="원하는 모든 레시피">
                            </div>

                            <div class="searchIcon" onclick="allSearch()">
                                <svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" fill="rgb(243,192,83)"
                                    class="bi bi-search" viewBox="0 0 16 16">
                                    <path
                                        d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001q.044.06.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1 1 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0" />
                                </svg>
                            </div>
                        </div>
                    </form>
                    <div class="iconsblock">
                        <div class="icons">
                            <div class="icon cs">
                                <div class="iconImg">
                                    <svg style="margin-top: 2px;" xmlns="http://www.w3.org/2000/svg" width="27"
                                        height="27" fill="rgb(243,192,83)" class="bi bi-headset" viewBox="0 0 16 16">
                                        <path
                                            d="M8 1a5 5 0 0 0-5 5v1h1a1 1 0 0 1 1 1v3a1 1 0 0 1-1 1H3a1 1 0 0 1-1-1V6a6 6 0 1 1 12 0v6a2.5 2.5 0 0 1-2.5 2.5H9.366a1 1 0 0 1-.866.5h-1a1 1 0 1 1 0-2h1a1 1 0 0 1 .866.5H11.5A1.5 1.5 0 0 0 13 12h-1a1 1 0 0 1-1-1V8a1 1 0 0 1 1-1h1V6a5 5 0 0 0-5-5" />
                                    </svg>
                                </div>
                                <div class="popup cs">
                                    <a class="mymenubox csCenter" href="/csc/cscForm">
                                        <p>고객센터</p>
                                    </a>
                                </div>
                            </div>
                            <div class="icon heart">
                                <div class="iconImg">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="27" height="27"
                                        fill="rgb(243,192,83)" class="bi bi-bag-heart" viewBox="0 0 16 16">
                                        <path fill-rule="evenodd"
                                            d="M10.5 3.5a2.5 2.5 0 0 0-5 0V4h5zm1 0V4H15v10a2 2 0 0 1-2 2H3a2 2 0 0 1-2-2V4h3.5v-.5a3.5 3.5 0 1 1 7 0M14 14V5H2v9a1 1 0 0 0 1 1h10a1 1 0 0 0 1-1M8 7.993c1.664-1.711 5.825 1.283 0 5.132-5.825-3.85-1.664-6.843 0-5.132" />
                                    </svg>
                                </div>
                                <div class="popup heart">
                                    <a class="mymenubox csCenter" href="/csc/cscForm">
                                        <p>즐겨찾기</p>
                                    </a>
                                </div>
                            </div>
                            <div class="icon login">
                                <div class="iconImg">
                                    <svg style="margin-top: 2px;" xmlns="http://www.w3.org/2000/svg" width="27"
                                        height="27" fill="rgb(243,192,83)" class="bi bi-person-lines-fill"
                                        viewBox="0 0 16 16">
                                        <path
                                            d="M6 8a3 3 0 1 0 0-6 3 3 0 0 0 0 6m-5 6s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1zM11 3.5a.5.5 0 0 1 .5-.5h4a.5.5 0 0 1 0 1h-4a.5.5 0 0 1-.5-.5m.5 2.5a.5.5 0 0 0 0 1h4a.5.5 0 0 0 0-1zm2 3a.5.5 0 0 0 0 1h2a.5.5 0 0 0 0-1zm0 3a.5.5 0 0 0 0 1h2a.5.5 0 0 0 0-1z" />
                                    </svg>
                                </div>
                                <div class="popup login">
                                    <a sec:authorize="isAnonymous()" class="mymenubox login" href="/member/loginForm">
                                        <p sec:authorize="isAnonymous()">로그인</p>
                                    </a>
                                    <a sec:authorize="isAuthenticated()" class="mymenubox login" href="/logout">
                                        <p id="logout" sec:authorize="isAuthenticated()">로그아웃</p>
                                    </a>
                                    <a sec:authorize="isAnonymous()" class="mymenubox join" href="/member/joinForm">
                                        <p sec:authorize="isAnonymous()">회원가입</p>
                                    </a>
                                    <a sec:authorize="isAuthenticated()" class="mymenubox join" href="/myPage/favorite">
                                        <p sec:authorize="isAuthenticated()">마이페이지</p>
                                    </a>
                                </div>


                                <div class="pu_delete pu_blind">
                                    <div class="pu_inner">
                                        <div class="pu_text_box">
                                            <h1 class="pu_title">정말 삭제 하시겠습니까?</h1>
                                        </div>
                                        <div class="pu_btn_box">
                                            <input type="hidden" th:value="${qnaCode}">
                                            <button class="pu_btn pu_yes" onclick="">예</button>
                                            <button class="pu_btn pu_no" onclick="">아니오</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- <div class="headBot">
                    d
                </div> -->

                <th:block th:replace="~{fragment/ask_login :: aksLoginFragment}"></th:block>

            </div>
        </div>
        



        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
        <script src="/js/fragment/main/main_header.js"></script>
    </th:block>
</body>

</html>