<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" 
    layout:decorate="~{fragment/csc_layout}">
<head>
<meta charset="UTF-8">
<title></title>
<!-- css 영역 -->
<th:block layout:fragment="content_css">
    <link rel="stylesheet" href="/css/content/csc/ann/csc_annList.css">
</th:block>
</head>
<body>
<th:block layout:fragment="content">
    <div id="csc_wrap">
        <div class="csc_title">
            <p class="csc_title1">공지사항</p>
            <p class="csc_title2">NOTICE</p>
        </div>
        <div class="csc_inner">
            <div class="main">
                <div class="csc_ann">
                    <div class="annHeader">
                        <div class="annChoiceBlock">
                            <p class="annChoice all active"><a href="/csc/annListForm">전체</a></p>
                            <p class="annChoice" th:each="annCate, state : ${annCateList}">
                                <a th:href="@{/csc/annListForm(annCate=${annCate.cateCode}, allSearchKeyword=${allSearchKeyword})}">[[${annCate.cateName}]]</a>
                            </p>
                        </div>
                        <form action="/csc/annListForm" method="post">
                            <div class="annSearchBlock">
                                <input type="text" class="annSearch" placeholder="공지사항 검색" name="allSearchKeyword" th:value="${allSearchKeyword}">
                                <input type="hidden" name="annCate" id="annCateNum" th:value="${annCate}">
                                <input class="annSearchBtn" type="submit" value="">

                                    <svg xmlns="http://www.w3.org/2000/svg" width="23" height="23" fill="#ffd57a"
                                        class="bi bi-search" viewBox="0 0 16 16">
                                        <path
                                            d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001q.044.06.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1 1 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0" />
                                    </svg>
                                </input>
                            </div>
                        </form>
                    </div>
                    <div class="csc_annBlock">
                        <a th:href="@{/csc/annDetailForm(annCode=${ann.annCode})}" th:each="ann, state : ${annList}" class="csc_annLink" th:if="${#lists.size(annList) != 0}">
                            <div class="csc_annBox">
                                <div class="annTypeBox">
                                    <p class="slash">[</p>
                                    <p class="annType">[[${ann.annCateList.cateName}]]</p>
                                    <p class="slash">]</p>
                                </div>
                                <p class="annTitle">
                                    [[${ann.annTitle}]]
                                </p>
                                <div class="annDateBox">
                                    <p class="annDate">[[${ann.annDate}]]</p>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="csc_annBlock" th:if="${#lists.size(annList) == 0}">
                        내용이 없스무니다
                    </div>
                    <div class="pageBtnBox">
                        <div class="btn_group">
                            <div class="pageBtn" th:if="${#lists.size(annList) != 0}">
                                <a class="page_prevBtn"
                                    th:href="@{/csc/annListForm(nowPage=${annVO.beginPage - 1})}"><span th:if="${annVO.prev}">이전</span></a>
                                <th:block th:each="pageNum : ${#numbers.sequence(annVO.beginPage, annVO.endPage)}">
                                    <a class="page_numBtn"
                                        th:href="@{/csc/annListForm(nowPage=${pageNum})}"><span th:text="${pageNum}"></span></a>
                                </th:block>
                                <a class="page_nextBtn"
                                    th:href="@{/csc/annListForm(nowPage=${annVO.endPage + 1})}"><span th:if="${annVO.next}">다음</span></a>
                            </div>
                        </div>
                    </div>
                    <div class="btnForm">
                        <div>
                            <a class="btnBox" href="/csc/insertAnnForm">
                                <p>글쓰기</p>
                            </a>
                        </div>
                    </div>
                    
                </div>
            </div>
        </div>
    </div>
</th:block>
</body>
<!-- js 영역 -->
<th:block layout:fragment="content_js">
    <script src="/js/content/csc/ann/csc_annList.js"></script>
</th:block>
</html>