<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="commentMapper">

    <resultMap id="commentEach" type="com.easyfolio.esf.myPage.vo.CommentVO">
        <result column="FOOD_COMMENT_ID" property="foodCommentId" />
        <result column="FOOD_CODE" property="foodCode" />
        <result column="MEMBER_ID" property="memberId" />
        <result column="REG_DATE" property="reg_date" />
        <result column="CONTENT" property="content" />
        <result column="RE_CODE" property="reCode" />
        <result column="DEL_CHECK" property="delCheck" />
        <result column="UP_CHECK" property="upCheck" />
        <collection property="foodVO" resultMap="foodMapper.food"/>
        <collection property="memberVO" resultMap="memberMapper.member"/>
    </resultMap>

    <!--    댓글등록-->
    <insert id="submitComment">
        INSERT INTO FOOD_COMMENT (
        FOOD_COMMENT_ID
        , FOOD_CODE
        , MEMBER_ID
        , CONTENT
        <if test="reCode != null and not reCode.isEmpty()">
            ,RE_CODE
        </if>
        )
        VALUES (
        #{foodCommentId}
        , #{foodCode}
        , #{sendMemberId}
        , #{content}
        <if test="reCode != null and not reCode.isEmpty()">
            ,#{reCode}
        </if>
        )
    </insert>

    <select id="nextComtCode" resultType="String">
        SELECT 'COMMT_' ||LPAD(NVL(MAX(TO_NUMBER(SUBSTR(FOOD_COMMENT_ID, 8))),0) + 1, 5, '0')
        FROM FOOD_COMMENT
    </select>



    <!--댓글 삭제-->
    <delete id="deleteFoodComment">
        DELETE FROM FOOD_COMMENT
        WHERE FOOD_COMMENT_ID = #{foodCommentId}
    </delete>


    <!--댓글 불러오기-->
    <select id="commentList" resultMap="commentEach">
        SELECT
        <!-- 멤버 아이디로 찾을 때 -->
        <if test="foodCode == null or foodCode.isEmpty()">
            F.FOOD_TTL
            ,C.FOOD_CODE
        </if>
        <!-- FOOD_CODE로 찾을 때 -->
        <if test="foodCode != null and not foodCode.isEmpty()">
            M.MEMBER_NAME
        </if>
        ,C.FOOD_COMMENT_ID
        ,C.MEMBER_ID
        ,C.CONTENT
        , TO_CHAR(REG_DATE,'YYYY-MM-DD HH24:MI:SS') AS REG_DATE
        , DEL_CHECK
        , UP_CHECK
        FROM FOOD_COMMENT C
        <choose>
            <!-- MYPAGE에서 조회시 -->
            <when test="foodCode == null or foodCode.isEmpty()">
                ,FOOD F
                WHERE C.MEMBER_ID = #{memberId}
                AND C.FOOD_CODE = F.FOOD_CODE
            </when>
            <!-- FOODDTL에서 조회시 -->
            <otherwise>
                ,DISH_MEMBER M
                WHERE C.FOOD_CODE = #{foodCode}
                AND C.MEMBER_ID = M.MEMBER_ID
                AND RE_CODE IS NULL
            </otherwise>
        </choose>
    </select>
<!--    대댓글-->
    <select id="getReComment" resultMap="commentEach">
        SELECT
        <!-- 멤버 아이디로 찾을 때 -->
        <if test="foodCode == null and foodCode.isEmpty()">
            F.FOOD_TTL
            ,C.FOOD_CODE
        </if>
        <!-- FOOD_CODE로 찾을 때 -->
        <if test="foodCode != null and not foodCode.isEmpty()">
            M.MEMBER_NAME
        </if>
        ,C.FOOD_COMMENT_ID
        ,C.RE_CODE
        ,C.MEMBER_ID
        ,C.CONTENT
        , TO_CHAR(REG_DATE,'YYYY-MM-DD HH24:MI:SS') AS REG_DATE
        , DEL_CHECK
        , UP_CHECK
        FROM FOOD_COMMENT C
        <choose>
            <!-- MYPAGE에서 조회시 -->
            <when test="foodCode == null and foodCode.isEmpty()">
                ,FOOD F
                WHERE C.MEMBER_ID = #{memberId}
            </when>
            <!-- FOODDTL에서 조회시 -->
            <otherwise>
                ,DISH_MEMBER M
                WHERE C.FOOD_CODE = #{foodCode}
                AND C.MEMBER_ID = M.MEMBER_ID
                AND RE_CODE IS NOT NULL
            </otherwise>
        </choose>
        ORDER BY REG_DATE ASC
    </select>

    <!-- 댓글 수정 -->
    <update id="updateComment">
        UPDATE FOOD_COMMENT
        SET
        <if test="content != null and not content.isEmpty()">
            CONTENT = #{content}
            , UP_CHECK = 'Y'
        </if>
        <if test="content == null or content.isEmpty()">
            DEL_CHECK = 'Y'
        </if>
        WHERE FOOD_COMMENT_ID = #{foodCommentId}
    </update>
</mapper>