<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 해당 파일에 모든 쿼리문을 작성 -->
<mapper namespace="cscMapper">

    <!--  공지사항  -->

    <resultMap id="announcement" type="com.easyfolio.esf.csc.vo.ann.AnnVO">
        <id column="ANN_CODE" property="annCode" />
        <result column="ANN_CATE" property="annCate" />
        <result column="ANN_WRITER" property="annWriter" />
        <result column="ANN_TITLE" property="annTitle" />
        <result column="ANN_CONTENT" property="annContent"/>
        <result column="ANN_DATE" property="annDate"/>
        <collection property="annCateList" resultMap="annCate"/>
    </resultMap>

    <resultMap id="annCate" type="com.easyfolio.esf.csc.vo.ann.AnnCateVO">
        <id column="CATE_CODE" property="cateCode"/>
        <result column="CATE_NAME" property="cateName"/>
    </resultMap>

    <!--  공지사항 메인 페이지 조회  -->
    <select id="mainAnnList" resultMap="announcement">
        SELECT ANN_CODE
        , ANN_CATE
        , CATE_NAME
        , ANN_TITLE
        , ANN_CONTENT
        , TO_CHAR(ANN_DATE,'YYYY-MM-DD') AS ANN_DATE
        FROM ANNOUNCEMENT ANN, ANN_CATE_LIST LIST
        WHERE ANN.ANN_CATE = LIST.CATE_CODE
        ORDER BY ANN_CODE DESC
        OFFSET 0 ROWS FETCH FIRST 4 ROWS ONLY
    </select>

    <!--  공지사항 목록 조회  -->
    <select id="annList" resultMap="announcement">
        SELECT ANN_CODE
            , ANN_CATE
            , CATE_NAME
            , ANN_TITLE
            , ANN_CONTENT
            , TO_CHAR(ANN_DATE,'YYYY-MM-DD') AS ANN_DATE
        FROM ANNOUNCEMENT ANN, ANN_CATE_LIST LI
        WHERE ANN.ANN_CATE = LI.CATE_CODE
        ORDER BY ANN_CODE DESC
        OFFSET (#{nowPage} -1) * #{displayDataCnt} ROWS FETCH FIRST #{displayDataCnt} ROWS ONLY
    </select>

    <!--  공지 사항 게시물 수 조회  -->
    <select id="annCnt" resultType="int">
        SELECT COUNT(ANN_CODE)
        FROM ANNOUNCEMENT
    </select>

    <!--  공지 사항 세부 조회  -->
    <select id="annDetail" resultMap="announcement">
        SELECT ANN_CODE
            , CATE_CODE
            , CATE_NAME
            , ANN_WRITER
            , ANN_TITLE
            , ANN_CONTENT
            , TO_CHAR(ANN_DATE, 'YYYY-MM-DD') AS ANN_DATE
        FROM ANNOUNCEMENT ANN, ANN_CATE_LIST LIST
        WHERE ANN.ANN_CATE = LIST.CATE_CODE
        AND ANN_CODE = #{annCode}
    </select>

    <!--  공지 사항 작성  -->
    <insert id="insertAnn">
        INSERT INTO ANNOUNCEMENT (
        ANN_CODE
        , ANN_CATE
        , ANN_TITLE
        , ANN_CONTENT
        )
        VALUES (
        (SELECT 'ANN_' ||LPAD(NVL(MAX(TO_NUMBER(SUBSTR(ANN_CODE, 5))),0) + 1, 3, '0')
        FROM ANNOUNCEMENT)
        , #{annCate}
        , #{annTitle}
        , #{annContent}
        )
    </insert>

    <!--  공지 사항 수정  -->
    <update id="updateAnn">
        UPDATE ANNOUNCEMENT
        SET
        ANN_CATE = #{annCate}
        , ANN_TITLE = #{annTitle}
        , ANN_CONTENT = #{annContent}
        WHERE ANN_CODE = #{annCode}
    </update>

    <!--  공지 사항 삭제  -->
    <delete id="deleteAnn">
        DELETE ANNOUNCEMENT
        WHERE ANN_CODE = #{annCode}
    </delete>

    <!--  문의 사항  -->

    <resultMap id="inquire" type="com.easyfolio.esf.csc.vo.inq.InqVO">
        <id column="INQ_CODE" property="inqCode"/>
        <result column="INQ_CATE" property="inqCate"/>
        <result column="INQ_WRITER" property="inqWriter"/>
        <result column="INQ_TITLE" property="inqTitle"/>
        <result column="INQ_CONTENT" property="inqContent"/>
        <result column="INQ_RESPONSE" property="inqResponse"/>
        <result column="INQ_DATE" property="inqDate"/>
        <collection property="inqCateList" resultMap="inqCate"/>
        <collection property="inqImgList" resultMap="inqImg"/>
    </resultMap>

    <resultMap id="inqCate" type="com.easyfolio.esf.csc.vo.inq.InqCateVO">
        <id column="CATE_CODE" property="cateCode"/>
        <result column="CATE_NAME" property="cateName"/>
    </resultMap>

    <resultMap id="inqImg" type="com.easyfolio.esf.csc.vo.inq.InqImgVO">
        <id column="IMG_CODE" property="imgCode"/>
        <result column="ORIGIN_FILE_NAME" property="originFileName"/>
        <result column="ATTACHED_FILE_NAME" property="attachedFileName"/>
        <result column="INQ_CODE" property="inqCode"/>
    </resultMap>

    <!--  문의 사항 목록 조회  -->
    <select id="inqList" resultMap="inquire">
        SELECT INQ_CODE
            , INQ_CATE
            , CATE_NAME
            , INQ_WRITER
            , INQ_TITLE
            , INQ_RESPONSE
            , TO_CHAR(INQ_DATE,'YYYY-MM-DD') AS INQ_DATE
        FROM INQUIRE INQ, INQ_CATE_LIST CATE
        WHERE INQ.INQ_CATE = CATE.CATE_CODE
        <if test='inqWriter != null and !inqWriter.equals("")'>
            AND INQ_WRITER = #{inqWriter}
        </if>
        ORDER BY INQ_CODE DESC
        OFFSET 0 ROWS FETCH FIRST 10 ROWS ONLY
    </select>

    <!--  문의 사항 세부 페이지  -->
    <select id="inqDetail" resultMap="inquire">
        SELECT INQ_CODE
            , INQ_CATE
            , CATE_NAME
            , INQ_WRITER
            , INQ_TITLE
            , INQ_CONTENT
            , TO_CHAR(INQ_DATE,'YYYY-MM-DD') AS INQ_DATE
            , INQ_RESPONSE
        FROM INQUIRE INQ, INQ_CATE_LIST CATE
        WHERE INQ.INQ_CATE = CATE.CATE_CODE
        AND INQ_CODE = #{inqCode}
    </select>

    <!--  문의 사항 사진 조회  -->
    <select id="inqImgList" resultMap="inqImg">
        SELECT *
        FROM INQ_IMG
        WHERE INQ_CODE = #{inqCode}
    </select>

    <!--  문의 사항 목록 추가  -->
    <insert id="insertInq">
        INSERT INTO INQUIRE (
        INQ_CODE
        , INQ_CATE
        , INQ_TITLE
        , INQ_CONTENT
        , INQ_WRITER
        )
        VALUES (
        (SELECT 'INQ_' ||LPAD(NVL(MAX(TO_NUMBER(SUBSTR(INQ_CODE, 5))),0) + 1, 3, '0')
        FROM INQUIRE)
        , #{inqCate}
        , #{inqTitle}
        , #{inqContent}
        , #{inqWriter}
        )
    </insert>

    <!--  문의 사항 사진 추가  -->
    <insert id="insertInqImgs">
        INSERT INTO INQ_IMG (
        IMG_CODE
        , ORIGIN_FILE_NAME
        , ATTACHED_FILE_NAME
        , INQ_CODE
        )
        <foreach collection="inqImgList" item="inqImg" separator="UNION ALL" index="idx">
            SELECT (SELECT 'IMG_' ||LPAD(NVL(MAX(TO_NUMBER(SUBSTR(IMG_CODE, 5))),0) + 1 + #{idx}, 3, '0')
            FROM INQ_IMG)
            , #{inqImg.originFileName}
            , #{inqImg.attachedFileName}
            , #{inqImg.inqCode}
            FROM DUAL
        </foreach>
    </insert>

    <!-- 아이템 코드 호출 -->
    <select id="nextInqCode" resultType="String">
        SELECT 'INQ_' ||LPAD(NVL(MAX(TO_NUMBER(SUBSTR(INQ_CODE, 5))),0) + 1, 3, '0')
        FROM INQUIRE
    </select>

    <!--  문의 사항 삭제  -->
    <delete id="deleteInq">
        DELETE INQUIRE
        WHERE INQ_CODE = #{inqCode}
    </delete>

    <!--  문의 사항 사진 삭제  -->
    <delete id="deleteInqImg">
        DELETE INQ_IMG
        WHERE INQ_CODE = #{inqCode}
    </delete>

    <!--  문의 사항 답변 여부 수정  -->
    <update id="updateResponse">
        UPDATE INQUIRE
        SET
        INQ_RESPONSE = 'Y'
        WHERE INQ_CODE = #{inqCode}
    </update>

    <delete id="deleteResponse">
        DELETE INQ_RESPONSE
        WHERE RES_CODE = #{resCode}
    </delete>

    <delete id="deleteResImg">
        DELETE RES_IMG
        WHERE RES_CODE = #{resCode}
    </delete>

    <!--  문의 답변  -->
    <resultMap id="response" type="com.easyfolio.esf.csc.vo.ResVO">
        <id column="RES_CODE" property="resCode"/>
        <result column="INQ_CODE" property="inqCode"/>
        <result column="RES_CONTENT" property="resContent"/>
        <result column="RES_DATE" property="resDate"/>
        <collection property="resImgList" resultMap="resImg"/>
    </resultMap>

    <resultMap id="resImg" type="com.easyfolio.esf.csc.vo.ResImgVO">
        <id column="IMG_CODE" property="imgCode"/>
        <result column="ORIGIN_FILE_NAME" property="originFileName"/>
        <result column="ATTACHED_FILE_NAME" property="attachedFileName"/>
        <result column="RES_CODE" property="resCode"/>
    </resultMap>

    <!--  답변 목록 조회  -->
    <select id="resInq" resultMap="response">
        SELECT RES_CODE
            , INQ_CODE
            , RES_CONTENT
            , TO_CHAR(RES_DATE,'YYYY-MM-DD') AS RES_DATE
        FROM INQ_RESPONSE
        WHERE INQ_CODE = #{inqCode}
    </select>

    <!--  답변 사진 목록 조회  -->
    <select id="resImgList" resultMap="resImg">
        SELECT IMG_CODE
            , ORIGIN_FILE_NAME
            , ATTACHED_FILE_NAME
            , RES_CODE
        FROM RES_IMG
        WHERE RES_CODE = #{resCode}
    </select>

    <!--  답변 내용 추가  -->
    <insert id="insertResponse">
        INSERT INTO INQ_RESPONSE(
        RES_CODE
        , INQ_CODE
        , RES_CONTENT
        ) VALUES (
        (SELECT 'RES_' ||LPAD(NVL(MAX(TO_NUMBER(SUBSTR(RES_CODE, 5))),0) + 1, 3, '0')FROM INQ_RESPONSE)
        , #{inqCode}
        , #{resContent}
        )
    </insert>

    <!--  답변 사진 추가  -->
    <insert id="insertResImg">
        INSERT INTO RES_IMG (
        IMG_CODE
        , ORIGIN_FILE_NAME
        , ATTACHED_FILE_NAME
        , RES_CODE
        )
        <foreach collection="resImgList" item="resImg" separator="UNION ALL" index="idx">
            SELECT (SELECT 'IMG_' ||LPAD(NVL(MAX(TO_NUMBER(SUBSTR(IMG_CODE, 5))),0) + 1 + #{idx}, 3, '0')
            FROM RES_IMG)
            , #{resImg.originFileName}
            , #{resImg.attachedFileName}
            , #{resImg.resCode}
            FROM DUAL
        </foreach>
    </insert>

    <!--  답변 코드 조회  -->
    <select id="nextResCode" resultType="String">
        SELECT 'RES_' ||LPAD(NVL(MAX(TO_NUMBER(SUBSTR(RES_CODE, 5))),0) + 1, 3, '0')
        FROM INQ_RESPONSE
    </select>

    <!--  자주 찾는 질문  -->

    <resultMap id="qna" type="com.easyfolio.esf.csc.vo.qna.QnaVO">
        <id column="QNA_CODE" property="qnaCode"/>
        <result column="QNA_QUESTION" property="qnaQuestion"/>
        <result column="QNA_ANSWER" property="qnaAnswer"/>
    </resultMap>

    <!--  자주 찾는 질문 메인 페이지 조회 -->
    <select id="mainQnaList" resultMap="qna">
        SELECT QNA_CODE
        , QNA_QUESTION
        , QNA_ANSWER
        FROM QNA
        ORDER BY QNA_CODE DESC
        OFFSET 0 ROWS FETCH FIRST 6 ROWS ONLY
    </select>

    <!--  자주 찾는 질문 목록 조회 -->
    <select id="qnaList" resultMap="qna">
        SELECT QNA_CODE
            , QNA_QUESTION
            , QNA_ANSWER
        FROM QNA
        ORDER BY QNA_CODE DESC
        OFFSET (#{nowPage} -1) * #{displayDataCnt} ROWS FETCH FIRST #{displayDataCnt} ROWS ONLY
    </select>

    <!--  자주 찾는 질문 게시물 수 조회  -->
    <select id="qnaCnt" resultType="int">
        SELECT COUNT(QNA_CODE)
        FROM QNA
    </select>

    <!--  자주 찾는 질문 목록 추가  -->
    <insert id="insertQna">
        INSERT INTO QNA (
        QNA_CODE
        , QNA_QUESTION
        , QNA_ANSWER
        )
        VALUES (
        (SELECT 'QNA_' ||LPAD(NVL(MAX(TO_NUMBER(SUBSTR(QNA_CODE, 5))),0) + 1, 3, '0')
        FROM QNA)
        , #{qnaQuestion}
        , #{qnaAnswer}
        )
    </insert>

<!--      자주 찾는 질문 수정 (비동기)-->
    <update id="updateQna">
        UPDATE QNA
        SET
        <if test='inputQnaQuestion != null and !inputQnaQuestion.equals("")' >
            QNA_QUESTION = #{inputQnaQuestion}
            <if test='inputQnaAnswer != null and !inputQnaAnswer.equals("") ' >
                ,
            </if>
        </if>
        <if test='inputQnaAnswer != null and !inputQnaAnswer.equals("")'>
            QNA_ANSWER = #{inputQnaAnswer}
        </if>
        WHERE QNA_CODE = #{qnaCode}
    </update>

    <!--  자주 찾는 질문 삭제  -->
    <delete id="deleteQna">
        DELETE QNA
        WHERE QNA_CODE = #{qnaCode}
    </delete>

    <!--  메인 페이지 검색  -->

    <!--  공지사항 검색  -->
    <select id="allSearchAnn" resultMap="announcement">
        <![CDATA[
    SELECT *
    FROM (
        SELECT ANN_CODE
        , CATE_NAME
        , ANN_TITLE
        , TO_CHAR(ANN_DATE,'YYYY-MM-DD') AS ANN_DATE
        FROM ANNOUNCEMENT ANN, ANN_CATE_LIST LI
        WHERE (ANN_TITLE LIKE '%' || #{allSearchKeyword} || '%' OR ANN_CONTENT LIKE '%' || #{allSearchKeyword} || '%')
        AND ANN.ANN_CATE = LI.CATE_CODE
        ORDER BY ANN_DATE DESC
    )
    WHERE ROWNUM <= 5
    ]]>
    </select>

    <!--  자주 찾는 질문 검색  -->
    <select id="allSearchQna" resultMap="qna">
        <![CDATA[
    SELECT *
    FROM (
        SELECT QNA_CODE
        , QNA_QUESTION
        , QNA_ANSWER
        FROM QNA
        WHERE (QNA_QUESTION LIKE '%' || #{allSearchKeyword} || '%' OR QNA_ANSWER LIKE '%' || #{allSearchKeyword} || '%')
        ORDER BY QNA_CODE DESC
    )
    WHERE ROWNUM <= 5
    ]]>
    </select>

    <!--  고객 센터 페이지 검색 + 페이징   -->

    <!--  공지사항  검색 페이징  -->
    <select id="CscSearchAnn" resultMap="announcement">
        SELECT
        ANN_CODE
        , ANN_CATE
        , CATE_NAME
        , ANN_WRITER
        , ANN_TITLE
        , ANN_CONTENT
        , TO_CHAR(ANN_DATE,'YYYY-MM-DD') AS ANN_DATE
        FROM ANNOUNCEMENT ANN, ANN_CATE_LIST LIST
        WHERE ANN.ANN_CATE = LIST.CATE_CODE
        <if test='annCate != null and !annCate.equals("")'>
            AND ANN_CATE = #{annCate}
        </if>
        <if test='allSearchKeyword != null and !allSearchKeyword.equals("")'>
            AND (
            UPPER(CATE_NAME) LIKE '%'||UPPER(#{allSearchKeyword})||'%'
            OR UPPER(ANN_TITLE) LIKE '%'||UPPER(#{allSearchKeyword})||'%'
            OR UPPER(ANN_CONTENT) LIKE '%'||UPPER(#{allSearchKeyword})||'%'
            )
        </if>
        ORDER BY ANN_CODE DESC
        OFFSET (#{nowPage} -1) * #{displayDataCnt} ROWS FETCH FIRST #{displayDataCnt} ROWS ONLY
    </select>

    <!--  공지 사항 카테고리 목록 조회  -->
    <select id="annCateList" resultMap="annCate">
        SELECT
        CATE_CODE
        , CATE_NAME
        FROM ANN_CATE_LIST
        ORDER BY CATE_CODE
    </select>

    <select id="CscSearchAnnCnt" resultType="int">
        SELECT COUNT(ANN_CODE)
        FROM ANNOUNCEMENT
        WHERE 1 = 1
        <if test='annCate != null and !annCate.equals("")'>
            AND ANN_CATE = #{annCate}
        </if>
        <if test='allSearchKeyword != null and !allSearchKeyword.equals("")'>
            AND (
            UPPER(ANN_TITLE) LIKE '%'||UPPER(#{allSearchKeyword})||'%'
            OR UPPER(ANN_CONTENT) LIKE '%'||UPPER(#{allSearchKeyword})||'%'
            )
        </if>
    </select>

    <!--  QNA 검색 페이징  -->
    <select id="CscSearchQna" resultMap="qna">
        SELECT
        QNA_CODE
        , QNA_QUESTION
        , QNA_ANSWER
        FROM QNA
        WHERE 1 = 1
        <if test='allSearchKeyword != null and !allSearchKeyword.equals("")'>
            AND (
            UPPER(QNA_QUESTION) LIKE '%'||UPPER(#{allSearchKeyword})||'%'
            OR UPPER(QNA_ANSWER) LIKE '%'||UPPER(#{allSearchKeyword})||'%'
            )
        </if>
        ORDER BY QNA_CODE DESC
        OFFSET (#{nowPage} -1) * #{displayDataCnt} ROWS FETCH FIRST #{displayDataCnt} ROWS ONLY
    </select>

    <select id="CscSearchQnaCnt" resultType="int">
        SELECT COUNT(QNA_CODE)
        FROM QNA
        WHERE 1 = 1
        <if test='allSearchKeyword != null and !allSearchKeyword.equals("")'>
            AND (
            UPPER(QNA_QUESTION) LIKE '%'||UPPER(#{allSearchKeyword})||'%'
            OR UPPER(QNA_ANSWER) LIKE '%'||UPPER(#{allSearchKeyword})||'%'
            )
        </if>
    </select>


</mapper>































