<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 해당 파일에 모든 쿼리문을 작성 -->
<mapper namespace="foodMapper">
    <resultMap id="food" type="com.easyfolio.esf.food.vo.FoodVO">
        <id column="FOOD_CODE" property="foodCode" />
        <result column="FOOD_TTL" property="foodTtl" />
        <result column="FOOD_NAME" property="foodName" />
        <result column="MEMBER_NAME" property="memberName" />
        <result column="FOOD_INQ_CNT" property="foodInqCnt"/>
        <result column="FOOD_RCMM_CNT" property="foodRcmmCnt"/>
        <result column="FOOD_TYPE_CODE" property="foodTypeCode"/>
        <result column="FOOD_USAGE_CODE" property="foodUsageCode"/>
        <result column="FOOD_MTRL_CODE" property="foodMtrlCode"/>
        <result column="FOOD_KIND_CODE" property="foodKindCode"/>
        <result column="FOOD_INDC" property="foodIndc"/>
        <result column="FOOD_MTRL_CN" property="foodMtrlCn"/>
        <result column="FOOD_SERVE" property="foodServe"/>
        <result column="FOOD_DIF" property="foodDif"/>
        <result column="FOOD_TIME" property="foodTime"/>
        <result column="FOOD_REG_DT" property="foodRegDt"/>
        <result column="MEMBER_ID" property="memberId"/>
        <collection property="foodKindVO" resultMap="foodKind"/>
        <collection property="foodUsageVO" resultMap="foodUsage"/>
        <collection property="foodMtrlVO" resultMap="foodMtrl"/>
        <collection property="foodTypeVO" resultMap="foodType"/>
    </resultMap>

    <resultMap id="foodKind" type="com.easyfolio.esf.food.vo.FoodKindVO">
        <id column="FOOD_KIND_CODE" property="foodKindCode" />
        <result column="FOOD_KIND_TEXT" property="foodKindText" />
    </resultMap>

    <resultMap id="foodUsage" type="com.easyfolio.esf.food.vo.FoodUsageVO">
        <id column="FOOD_USAGE_CODE" property="foodUsageCode" />
        <result column="FOOD_USAGE_TEXT" property="foodUsageText" />
    </resultMap>

    <resultMap id="foodMtrl" type="com.easyfolio.esf.food.vo.FoodMtrlVO">
        <id column="FOOD_MTRL_CODE" property="foodMtrlCode" />
        <result column="FOOD_MTRL_TEXT" property="foodMtrlText" />
    </resultMap>

    <resultMap id="foodType" type="com.easyfolio.esf.food.vo.FoodTypeVO">
        <id column="FOOD_TYPE_CODE" property="foodTypeCode" />
        <result column="FOOD_TYPE_TEXT" property="foodTypeText" />
    </resultMap>


<!--   종류별-->
    <select id="foodKindList" resultMap="foodKind">
        SELECT FOOD_KIND_TEXT
        , FOOD_KIND_CODE
        FROM FOOD_KIND
    </select>
    <select id="foodKindText" resultMap="foodKind">
        SELECT FOOD_KIND_TEXT
        FROM FOOD_KIND
        WHERE FOOD_KIND_CODE = #{foodKindCode}
    </select>

<!--    상황별-->
    <select id="foodUsageList" resultMap="foodUsage">
        SELECT FOOD_USAGE_CODE
        , FOOD_USAGE_TEXT
        FROM FOOD_USAGE
    </select>
    <select id="foodUsageText" resultMap="foodUsage">
        SELECT FOOD_USAGE_TEXT
        FROM FOOD_USAGE
        WHERE FOOD_USAGE_CODE = #{foodUsageCode}
    </select>

<!--    재료별-->
    <select id="foodMtrlList" resultMap="foodMtrl">
        SELECT FOOD_MTRL_CODE
        , FOOD_MTRL_TEXT
        FROM FOOD_MTRL
    </select>
    <select id="foodMtrlText" resultMap="foodMtrl">
        SELECT FOOD_MTRL_TEXT
        FROM FOOD_MTRL
        WHERE FOOD_MTRL_CODE = #{foodMtrlCode}
    </select>

    <!--    방법별-->
    <select id="foodTypeList" resultMap="foodType">
        SELECT FOOD_TYPE_CODE
        , FOOD_TYPE_TEXT
        FROM FOOD_TYPE
    </select>
    <select id="foodTypeText" resultMap="foodType">
        SELECT FOOD_TYPE_TEXT
        FROM FOOD_TYPE
        WHERE FOOD_TYPE_CODE = #{foodTypeCode}
    </select>

    <select id="selectFoodCode" resultMap="food">
        SELECT
        <if test="foodKindCode != null and not foodKindCode.isEmpty()">
            FK.FOOD_KIND_TEXT
            , FK.FOOD_KIND_CODE
        </if>
        <if test="foodUsageCode != null and not foodUsageCode.isEmpty()">
            , FU.FOOD_USAGE_TEXT
            , FU.FOOD_USAGE_CODE
        </if>
        <if test="foodMtrlCode != null and not foodMtrlCode.isEmpty()">
            , FM.FOOD_MTRL_TEXT
            , FM.FOOD_MTRL_CODE
        </if>
        <if test="foodTypeCode != null and not foodTypeCode.isEmpty()">
            , FT.FOOD_TYPE_TEXT
            , FT.FOOD_TYPE_CODE
        </if>
        FROM
        <if test="foodKindCode != null and not foodKindCode.isEmpty()">
            FOOD_KIND FK
        </if>
        <if test="foodUsageCode != null and not foodUsageCode.isEmpty()">
            <if test="foodKindCode != null and not foodKindCode.isEmpty()">
                ,
            </if>
            FOOD_USAGE FU
        </if>
        <if test="foodMtrlCode != null and not foodMtrlCode.isEmpty()">
            <if test="(foodKindCode != null and not foodKindCode.isEmpty())
        || (foodUsageCode != null and not foodUsageCode.isEmpty())">
                ,
            </if>
            FOOD_MTRL FM
        </if>
        <if test="foodTypeCode != null and not foodTypeCode.isEmpty()">
            <if test="(foodKindCode != null and not foodKindCode.isEmpty())
        || (foodUsageCode != null and not foodUsageCode.isEmpty())
        || (foodMtrlCode != null and not foodMtrlCode.isEmpty())">
                ,
            </if>
            FOOD_TYPE FT
        </if>
        <where>
            <if test="foodKindCode != null and not foodKindCode.isEmpty()">
                AND FK.FOOD_KIND_CODE = #{foodKindCode}
            </if>
            <if test="foodUsageCode != null and not foodUsageCode.isEmpty()">
                AND FU.FOOD_USAGE_CODE = #{foodUsageCode}
            </if>
            <if test="foodMtrlCode != null and not foodMtrlCode.isEmpty()">
                AND FM.FOOD_MTRL_CODE = #{foodMtrlCode}
            </if>
            <if test="foodTypeCode != null and not foodTypeCode.isEmpty()">
                AND FT.FOOD_TYPE_CODE = #{foodTypeCode}
            </if>
        </where>
    </select>



    <!-- 음식 개수 -->
    <select id="foodCnt" resultType="int">
        SELECT COUNT(FOOD_CODE)
        FROM FOOD
    </select>
    <!-- 음식 조회  -->
    <select id="searchFoodCnt" resultType="int">
        SELECT COUNT(FOOD_CODE)
        FROM FOOD
        <where>
            <if test="searchFoodValue != null and not searchFoodValue.isEmpty()">
                AND FOOD_TTL LIKE '%' || #{searchFoodValue} || '%'
            </if>
            <if test="foodKindCode != null and not foodKindCode.isEmpty()">
                AND FOOD_KIND_CODE = #{foodKindCode}
            </if>
            <if test="foodUsageCode != null and not foodUsageCode.isEmpty()">
                AND FOOD_USAGE_CODE = #{foodUsageCode}
            </if>
            <if test="foodMtrlCode != null and not foodMtrlCode.isEmpty()">
                AND FOOD_MTRL_CODE = #{foodMtrlCode}
            </if>
            <if test="foodTypeCode != null and not foodTypeCode.isEmpty()">
                AND FOOD_TYPE_CODE = #{foodTypeCode}
            </if>
        </where>
    </select>

    <!--  음식명 검색 api  -->
    <select id="searchFoodAll" resultMap="food">
        SELECT FOOD_CODE
        , FOOD_TTL
        , FOOD_DIF
        , FOOD_INQ_CNT
        , FOOD_RCMM_CNT
        , MEMBER_ID
        FROM FOOD
        <where>
            <if test="searchFoodValue != null and not searchFoodValue.isEmpty()">
                AND FOOD_TTL LIKE '%' || #{searchFoodValue} || '%'
            </if>
            <if test="foodKindCode != null and not foodKindCode.isEmpty()">
                AND FOOD_KIND_CODE = #{foodKindCode}
            </if>
            <if test="foodUsageCode != null and not foodUsageCode.isEmpty()">
                AND FOOD_USAGE_CODE = #{foodUsageCode}
            </if>
            <if test="foodMtrlCode != null and not foodMtrlCode.isEmpty()">
                AND FOOD_MTRL_CODE = #{foodMtrlCode}
            </if>
            <if test="foodTypeCode != null and not foodTypeCode.isEmpty()">
                AND FOOD_TYPE_CODE = #{foodTypeCode}
            </if>
        </where>
        ORDER BY FOOD_INQ_CNT DESC
        OFFSET ((#{nowPage} - 1) * #{displayDataCnt}) ROWS FETCH FIRST #{displayDataCnt} ROWS ONLY
    </select>


    <select id="allSearchFood" resultMap="food">
        <![CDATA[
    SELECT *
    FROM (
        SELECT
            FOOD_CODE,
            FOOD_TTL,
            FOOD_DIF,
            FOOD_INQ_CNT,
            FOOD_RCMM_CNT,
            ROWNUM AS rnum
        FROM (
            SELECT
                FOOD_CODE,
                FOOD_TTL,
                FOOD_DIF,
                FOOD_INQ_CNT,
                FOOD_RCMM_CNT
            FROM FOOD
            WHERE FOOD_TTL LIKE '%' || #{allSearchKeyword} || '%'
                OR FOOD_KIND_CODE = #{allSearchKeyword}
                OR FOOD_USAGE_CODE = #{allSearchKeyword}
                OR FOOD_MTRL_CODE = #{allSearchKeyword}
                OR FOOD_TYPE_CODE = #{allSearchKeyword}
            ORDER BY FOOD_INQ_CNT DESC
        )
        WHERE ROWNUM <= 5
    )
    WHERE rnum <= 5
    ]]>
    </select>
    <select id="allSearchFoodCnt" resultType="int">
        SELECT COUNT(FOOD_CODE)
        FROM FOOD
        WHERE FOOD_TTL LIKE '%' || #{allSearchKeyword} || '%'
        OR FOOD_KIND_CODE = #{allSearchKeyword}
        OR FOOD_USAGE_CODE = #{allSearchKeyword}
        OR FOOD_MTRL_CODE = #{allSearchKeyword}
        OR FOOD_TYPE_CODE = #{allSearchKeyword}
    </select>

<!--    food 상세검색-->
    <select id="getFoodDtl" resultMap="food">
        SELECT *
        FROM FOOD
        WHERE FOOD_CODE = #{foodCode}
    </select>

    <update id="updateFoodInqCnt">
        UPDATE FOOD
        SET FOOD_INQ_CNT = FOOD_INQ_CNT + 1
        WHERE FOOD_CODE = #{foodCode}
    </update>

    <select id="foodByMember" resultMap="food">
        <![CDATA[
    SELECT *
    FROM (
        SELECT
            FOOD_CODE,
            FOOD_TTL,
            FOOD_DIF,
            FOOD_INQ_CNT,
            FOOD_RCMM_CNT,
            ROWNUM AS rnum
        FROM (
            SELECT
                FOOD_CODE,
                FOOD_TTL,
                FOOD_DIF,
                FOOD_INQ_CNT,
                FOOD_RCMM_CNT
            FROM FOOD
            WHERE MEMBER_ID = #{memberId}
            ORDER BY FOOD_INQ_CNT DESC
        )
        WHERE ROWNUM <= 5

    )
    WHERE rnum <= 5
    ]]>
    </select>


</mapper>