<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 해당 파일에 모든 쿼리문을 작성 -->
<mapper namespace="foodMapper">

    <!--  공지사항  -->

    <resultMap id="food" type="com.easyfolio.esf.food.vo.FoodVO">
        <id column="FOOD_CODE" property="foodCode" />
        <result column="FOOD_TTL" property="foodTtl" />
        <result column="FOOD_NAME" property="foodName" />
        <result column="MEMBER_NAME" property="memberName" />
        <result column="FOOD_INQ_CNT" property="foodInqCnt"/>
        <result column="FOOD_RCMM_CNT" property="foodRcmmCnt"/>
        <result column="FOOD_TYPE" property="foodType"/>
        <result column="FOOD_USAGE" property="foodUsage"/>
        <result column="FOOD_MTRL" property="foodMtrl"/>
        <result column="FOOD_KIND" property="foodKind"/>
        <result column="FOOD_INDC" property="foodIndc"/>
        <result column="FOOD_MTRL_CN" property="foodMtrlCn"/>
        <result column="FOOD_SERVE" property="foodServe"/>
        <result column="FOOD_DIF" property="foodDif"/>
        <result column="FOOD_TIME" property="foodTime"/>
        <result column="FOOD_REG_DT" property="foodRegDt"/>
    </resultMap>

    <!--  공지사항 목록 조회  -->
    <select id="allFoodList" resultMap="food">
        SELECT FOOD_NAME
        FROM FOOD
        WHERE FOOD_CODE = 'FOOD_000043'
    </select>
</mapper>