<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="memberMapper">
    <resultMap id="member" type="com.easyfolio.esf.member.vo.MemberVO">
        <result column="MEMBER_ID"      property="memberId" />
        <result column="MEMBER_PW"      property="memberPw" />
        <result column="MEMBER_NAME"    property="memberName" />
        <result column="MEMBER_TEL"    property="memberTel" />
        <result column="MEMBER_GENDER"  property="memberGender"/>
        <result column="MEMBER_ROLE"    property="memberRole"/>
    </resultMap>

    <insert id="join">
        INSERT INTO DISH_MEMBER (
        MEMBER_ID
        , MEMBER_PW
        , MEMBER_NAME
        , MEMBER_TEL
        , MEMBER_GENDER
        ) VALUES (
        #{memberId}
        , #{memberPw}
        , #{memberName}
        , #{memberTel}
        , #{memberGender}
        )
    </insert>

    <select id="login" resultMap="member">
        SELECT MEMBER_ID
        , MEMBER_PW
        , MEMBER_ROLL
        FROM DISH_MEMBER
        WHERE MEMBER_ID = #{memberId}

    </select>

    <select id="checkId" resultType="String">
        SELECT MEMBER_ID
        FROM DISH_MEMBER
        WHERE MEMBER_ID = #{memberId}
    </select>

</mapper>