<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="myPageMapper">

    <resultMap id="favoriteEach" type="com.easyfolio.esf.myPage.vo.FavoriteVO">
        <result column="FOOD_CODE" property="foodCode" />
        <result column="MEMBER_ID" property="memberId" />
        <result column="FAVORITE_DATE" property="favoriteDate" />
        <collection property="foodVO" resultMap="foodMapper.food"/>
    </resultMap>

    <insert id="addFavorite">
        INSERT INTO FAVORITE (
        MEMBER_ID
        , FOOD_CODE

        ) VALUES (
        #{memberId}
        , #{foodCode}
        )
    </insert>


    <select id="favoriteList" resultMap="favoriteEach">
        SELECT FA.FOOD_CODE,
        F.FOOD_TTL,
        F.FOOD_DIF,
        F.FOOD_INQ_CNT,
        F.FOOD_RCMM_CNT,
        FI.FOOD_IMG_CODE,
        FI.ORIGIN_FILE_NAME,
        FI.ATTACHED_FILE_NAME
        FROM FOOD F
        LEFT JOIN FOOD_IMG FI ON F.FOOD_CODE = FI.FOOD_CODE
        JOIN FAVORITE FA ON FA.FOOD_CODE = F.FOOD_CODE
        WHERE FA.MEMBER_ID = #{memberId}
        <if test="searchFavoriteValue != null and not searchFavoriteValue.isEmpty()">
            AND F.FOOD_TTL LIKE '%'|| #{searchFavoriteValue}|| '%'
        </if>
        ORDER BY FA.FAVORITE_DATE DESC
        OFFSET ((#{nowPage} - 1) * #{displayDataCnt8}) ROWS FETCH FIRST #{displayDataCnt8} ROWS ONLY
    </select>


    <select id="favoriteCnt" resultType="int">
        SELECT COUNT (FA.FOOD_CODE)
        FROM FAVORITE FA, FOOD FO
        <where>
            <if test="memberId != null and not memberId.isEmpty()">
                AND FA.MEMBER_ID = #{memberId}
            </if>
            <if test="searchFavoriteValue != null and not searchFavoriteValue.isEmpty()">
                AND FOOD_TTL LIKE '%' || #{searchFavoriteValue} || '%'
            </if>
            AND FA.FOOD_CODE = FO.FOOD_CODE
        </where>
    </select>

    <select id="favoriteListString" resultType="string">
        SELECT FOOD_CODE
        FROM FAVORITE
        WHERE MEMBER_ID = #{memberId}
    </select>

    <delete id="deleteFav">
        DELETE FROM FAVORITE
        WHERE MEMBER_ID = #{memberId}
        AND FOOD_CODE = #{foodCode}
    </delete>

    <select id="increaseFavCnt" resultType="int">
        UPDATE FOOD
        SET FOOD_RCMM_CNT =  FOOD_RCMM_CNT + 1
        WHERE FOOD_CODE = #{foodCode}
    </select>
    <select id="decreaseFavCnt" resultType="int">
        UPDATE FOOD
        SET FOOD_RCMM_CNT =  FOOD_RCMM_CNT - 1
        WHERE FOOD_CODE = #{foodCode}
    </select>



</mapper>