<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 해당 파일에 모든 쿼리문을 작성 -->
<mapper namespace="weatherMapper">
    <resultMap id="regionParent" type="com.easyfolio.esf.weather.vo.RegionVO">
        <id column="AREA_CODE" property="areaCode" />
        <result column="REGION_PARENT" property="regionParent" />
    </resultMap>

    <resultMap id="regionChild" type="com.easyfolio.esf.weather.vo.RegionVO">
        <result column="AREA_CODE" property="areaCode" />
        <result column="REGION_CHILD" property="regionChild" />
        <result column="NX" property="nx" />
        <result column="NY" property="ny" />
    </resultMap>

    <resultMap id="ddabongFood" type="com.easyfolio.esf.weather.vo.DdabongVO">
        <result column="DDABONG_CODE" property="ddabongCode" />
        <result column="DDABONG_NOW" property="ddabongNow" />
        <result column="DDABONG_FOOD" property="ddabongFood" />
    </resultMap>

    <select id="regionParentList" resultMap="regionParent">
        SELECT * FROM REGION_PARENT
    </select>

    <select id="regionChildList" resultMap="regionChild">
        SELECT * FROM REGION_CHILD
    </select>

    <select id="ddabongFoodList" resultMap="ddabongFood">
        SELECT
        DDABONG_NOW,
        DDABONG_FOOD
        FROM DDABONG_FOOD
        WHERE DDABONG_CODE = #{ddabongCode}
    </select>
</mapper>