button{
    cursor: pointer;
}
.pop_blind{
    display: none;
}
#popup_wrap{
    z-index: 400;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);    
}
.ask_container{    
    padding: 50px 10px;
    text-align: center;
    box-sizing: border-box;
    border-radius: 10px;
    background-color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    z-index: 401;
    width: 400px;
    height: 200px;
    margin: 15% auto;
}
.ask_text{
    font-weight: 300;
    font-size: 18px;
    color: #666;
}
.ask_btn_container{
    position: relative;
    display: flex;
    justify-content: center;
}
.ask_btn{
    font-weight: 300;
    color: #777;
    border-radius: 6px;
    margin: 20px;
    padding: 8px 25px;
    background-color: #fff;
    border: 1px solid #dadada;
    transition: color 0.3s ease;
    transition: background-color 0.3s ease;
}
.ask_btn:hover{
    background-color: #ffa43b;
    color: #fff;
    border: 1px solid #ffd57a;
    transition: background-color 0.3s ease;
}

