<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head>
    <meta charset="UTF-8">
    <title></title>

    <!-- css 영역 -->
    <th:block layout:fragment="content_css">
    </th:block>

</head>

<body>
    <th:block th:fragment="aksLoginFragment">
        <link rel="stylesheet" href="/css/fragment/ask_login.css">
        <div class="pop_blind ask_frame" id="popup_wrap">
            <div class="ask_container">
                <div class="button-content">
                    <p class="ask_text">
                        현재 로그인이 되어 있지 않습니다.<br>
                        로그인 페이지로 이동하시겠습니까?
                    </p>
                    <div class="ask_btn_container">
                        <button type="button" class="ask_answer_yes ask_btn">Yes</button>
                        <button type="button" class="ask_answer_no ask_btn">No</button>
                    </div>
                </div>
                
            </div>
        </div>
        <script src="/js/fragment/ask_login.js"></script>
    </th:block>
</body>

<!-- js 영역 -->
<th:block layout:fragment="content_js">

</th:block>

</html>