<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head>
    <meta charset="UTF-8">
    <title></title>

    <!-- css 영역 -->
    <th:block layout:fragment="content_css">
    </th:block>

</head>

<body>
    <th:block th:fragment="aksLoginFragment">
        <link rel="stylesheet" href="/css/fragment/ask_login.css">
        <div class="pop_blind ask_frame" id="popup_wrap">
            <div class="ask_container">
                <h1>Design이 필요해요</h1>
                <h1>로그인 페이지로 이동</h1>
                <div class="ask_btn_container">
                    <button type="button" class="ask_answer_yes ask_btn">Yes</button>
                    <button type="button" class="ask_answer_no ask_btn">No</button>
                </div>
            </div>
        </div>
        <script src="/js/fragment/ask_login.js"></script>
    </th:block>
</body>

<!-- js 영역 -->
<th:block layout:fragment="content_js">

</th:block>

</html>