<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head>
    <meta charset="UTF-8">
    <title></title>
    <!-- css 영역 -->
    <th:block layout:fragment="content_css">
    </th:block>

</head>

<body>
    <th:block th:fragment="cscTopFragment">
        <link rel="stylesheet" href="/css/content/csc/csc_top.css">
        <div id="wrap">
            <div id="w_in">
                <div class="cscMain">
                    <img src="/img/csc/cscMain.jpg" alt="">
                </div>
            </div>
        </div>
    </th:block>
</body>

<!-- js 영역 -->
<th:block layout:fragment="content_js">
</th:block>

</html>