<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
<meta charset="UTF-8">
<title></title>

<!-- css 영역 -->
<th:block layout:fragment="content_css">
</th:block>

</head>

<body>
    <th:block th:fragment="cscSideFragment">
        <div id="wrap">
            <div class="csc_title">
                <h1>고객센터 사이드입니다람쥐</h1>
            </div>
            <div id="w_in">
                <div class="side_menu">
                    <div class="side_inner">
                        <div class="csc_side">
                            <p class="sideForm ann"><a href="">공지사항</a></p>
                            <p class="sideForm inquire"><a href="">문의하기</a></p>
                            <p class="sideForm inquireList"><a href="">문의내역</a></p>
                            <p class="sideForm qnaList menu_last"><a href="">자주 찾는 질문</a></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </th:block>
</body>

<!-- js 영역 -->
<th:block layout:fragment="content_js">
</th:block>

</html>