<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head>
    <meta charset="UTF-8">
    <title></title>

    <!-- css 영역 -->
    <th:block layout:fragment="content_css">
    </th:block>

</head>

<body>
    <th:block th:fragment="cscSideFragment">
        <link rel="stylesheet" href="/css/content/csc/csc_side.css">
        <div class="wrap">
            <div id="w_in">
                <div class="side_title">
                    <p class="side_tilte1">메뉴</p>
                    <p class="side_tilte2">MENU</p>
                </div>
                <div class="side_menu">
                    <p class="sideForm csc"><a href="">고객센터</a></p>
                    <p class="sideForm ann"><a href="">공지사항</a></p>
                    <p class="sideForm inquire"><a href="">문의하기</a></p>
                    <p class="sideForm inquireList"><a href="">문의내역</a></p>
                    <p class="sideForm qnaList menu_last"><a href="">자주 찾는 질문</a></p>
                </div>
            </div>
        </div>
    </th:block>
</body>

<!-- js 영역 -->
<th:block layout:fragment="content_js">
</th:block>

</html>