<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
<meta charset="UTF-8">
<title></title>
<link rel="stylesheet" href="css/fragment/member_footer.css">

<!-- css 영역 -->
<th:block layout:fragment="content_css">
</th:block>

</head>

<body>
    <th:block th:fragment="memberFooterFragment">
        <div class="csc_titletitle">
            <h1>푸터 시발아 푸터 시발아 푸터 시발아</h1>
        </div>
        <div id="wrap">
            <div id="w_in">
                <div class="">

                </div>
            </div>
        </div>
    </th:block>
</body>

<!-- js 영역 -->
<th:block layout:fragment="content_js">
</th:block>
<script src="/js/fragment/member_footer.js"></script>

</html>