<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" 
    layout:decorate="~{fragment/csc_layout}">
<head>
<meta charset="UTF-8">
<title></title>
<link rel="stylesheet" href="/css/content/csc/csc_ann.css">

</head>

<body>
    <th:block layout:fragment="content">
        <div id="wrap">
            <div class="csc_title">
                <h1>고객센터 공지사항 페이지입니다람쥐</h1>
            </div>
            <div class="w_in">
                <div class="main"></div>
            </div>
        </div>
        
        <script src="/js/fragment/csc_ann.js"></script>
    </th:block>
</body>

</html>