<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" 
    layout:decorate="~{fragment/csc_layout}">
<head>
<meta charset="UTF-8">
<title></title>
<!-- css 영역 -->
<th:block layout:fragment="content_css">

</th:block>
</head>
<body>
<th:block layout:fragment="content">
    <div class="csc_wrap">
        <div class="csc_title">
            <p class="csc_title1">공지사항</p>
            <p class="csc_title2">NOTICE</p>
        </div>
        <div class="csc_inner">
            <div class="annDetailHeader">
                <p class="annCate">
                    <span class="cateText">[</span>
                    <span class="cateText">[[${annDetail.annCateList.cateName}]]</span>
                    <span class="cateText">]</span>
                </p>
                <p class="annTitle">[[${annDetail.annTitle}]]</p>
                <p class="annWriter">관리자</p>
                <p class="annDate">[[${annDetail.annDate}]]</p>
            </div>
        </div>
        <div class="annContent">
            <p th:utext="${annDetail.annContent}"></p>
        </div>
    </div>
</th:block>
</body>
<!-- js 영역 -->
<th:block layout:fragment="content_js">

</th:block>
</html>