<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{fragment/member_layout}">
<head>
    <meta charset="UTF-8">
    <title></title>
    <script src="https://cdn.jsdelivr.net/npm/verbal-expressions@1.0.2/dist/verbalexpressions.min.js"></script>
    <!-- css 영역 -->
    <th:block layout:fragment="content_css">

    </th:block>
</head>
<body>
<th:block layout:fragment="content">
    
    <link rel="stylesheet" href="/css/content/member/login.css">
    <input type="hidden" th:value="${loginError}" id="login_error">
    <div id="wrap">
        <div class="logoutError hide">
            <p>로그인 정보를 확인해주세요</p>
            <button onclick="closePopup(this)">확인</button>
        </div>
        <div class="inner">
            <div class="logoBlock">
                <div class="logo">
                    <a href="/">
                        <img src="/img/logo1.png" alt="">
                    </a>
                </div>
            </div>
            <div id="container">
                <form action="/member/login" method="post">
                    <div class="loginBlock">
                        <div class="inputBox memberId">
                            <div class="icon">
                                <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="#dadada"
                                     class="bi bi-person-circle" viewBox="0 0 16 16">
                                    <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0z" />
                                    <path fill-rule="evenodd"
                                          d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8zm8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1z" />
                                </svg>
                            </div>

                            <input type="text" class="inputMem id" id="memberId" name="memberId" placeholder="아이디">
                        </div>
                        <div class="inputBox memberPw">
                            <div class="icon">
                                <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="#dadada"
                                     class="bi bi-shield-lock-fill" viewBox="0 0 16 16">
                                    <path fill-rule="evenodd"
                                          d="M8 0c-.69 0-1.843.265-2.928.56-1.11.3-2.229.655-2.887.87a1.54 1.54 0 0 0-1.044 1.262c-.596 4.477.787 7.795 2.465 9.99a11.777 11.777 0 0 0 2.517 2.453c.386.273.744.482 1.048.625.28.132.581.24.829.24s.548-.108.829-.24a7.159 7.159 0 0 0 1.048-.625 11.775 11.775 0 0 0 2.517-2.453c1.678-2.195 3.061-5.513 2.465-9.99a1.541 1.541 0 0 0-1.044-1.263 62.467 62.467 0 0 0-2.887-.87C9.843.266 8.69 0 8 0zm0 5a1.5 1.5 0 0 1 .5 2.915l.385 1.99a.5.5 0 0 1-.491.595h-.788a.5.5 0 0 1-.49-.595l.384-1.99A1.5 1.5 0 0 1 8 5z" />
                                </svg>
                            </div>
                            <input type="password" class="inputMem pw" id="memberPw" name="memberPw" placeholder="비밀번호">
                        </div>
                        <div class="loginBtnForm">
                            <input class="loginBtn" type="submit" value="로그인">
                        </div>
                        <div class="loginFooter">
                            <p><a href="/member/findMemberForm">아이디 찾기 / 비밀번호 찾기</a></p>
                            <p><a href="/member/joinForm">회원가입</a></p>
                        </div>
<!--                        csrf 킬때 주석 지우기-->
<!--                        <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"> -->
                    </div>
                    
                </form>
            </div>

            <div class="footerBlock">

            </div>
        </div>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="/js/content/member/login.js"></script>
</th:block>
</body>
<!-- js 영역 -->
<th:block layout:fragment="content_js">
    <script th:inline="javascript">


    </script>
</th:block>
</html>