<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security6">

<head>
</head>

<body th:fragment="food_comment">

    <link rel="stylesheet" href="/css/content/myPage/replace/food_comment.css">

    <div class="commentList">
        <th:block th:if="${commentList != null}" th:each="commentVO, state : ${commentList}">
            <div th:id="${commentVO.foodCommentId}" class="commentEach mother">
                <div class="commentBlock">

                    <!-- <p><span>foodCode</span><span class="comment_name" th:text="${commentVO.foodCode}"></span></p> -->
                    <!-- <p><span>작성자id</span><span class="comment_name" th:text="${commentVO.memberId}"></span></p> -->
                    <div class="noDeleteCom" th:if="${commentVO.delCheck == 'N'}">
                        <p class="commentName"><span th:text="${commentVO.memberVO.memberName}"></span>
                        </p>
                        <p class="commentText"><span th:utext="${commentVO.content}"></span></p>
                        <div class="updateInputBlock" style="display: none;">
                            <input class="foodCommentId" name="foodCommentId" type="hidden"
                                th:value="${commentVO.foodCommentId}">
                            <textarea type="text" class="input_textarea" id="inputUpdateComment"
                                name="inputUpdateComment"></textarea>
                            <button class="comment_submit" type="button" onclick="updateCheck(this)">댓글
                                수정</button>
                        </div>

                        <p class="commentDate">
                            <input class="upCheck" name="upCheck" type="hidden" th:value="${commentVO.upCheck}">
                            <span th:text="${commentVO.reg_date}"></span>
                            <span class="updateCheckBox" style="display: none;">( 수정됨 )</span>
                            <span th:if="${commentVO.upCheck == 'Y'}">( 수정됨 )</span>
                        </p>
                        <div class="commentBtns">
                            <div class="updelBtn">
                                <p th:if="${memberRole=='ADMIN'||user==commentVO.memberId}" class="commentBtn" onclick="updateCommentBtn(this)">수정</p>
                                <p th:if="${memberRole=='ADMIN'||user==commentVO.memberVO.memberId}" class="commentBtn" onclick="deleteCheck(this)">삭제</p>
                            </div>
                            <p sec:authorize="isAuthenticated()" class="commentBtn" onclick="insertComment(this)">답글</p>
                        </div>
                    </div>
                    <div class="deleteCom" th:if="${commentVO.delCheck == 'Y'}">
                        <p class="commentName"><span th:text="${commentVO.memberVO.memberName}"></span>
                        </p>
                        <p class="deleteText">삭제된 댓글입니다.</p>
                    </div>

                </div>
                <form class="submitBlock" sec:authorize="isAuthenticated()">
                    <input name="foodCode" class="foodCode_hide" type="hidden" th:value="${foodCode}">
                    <input class="foodCode_hide" name="reCode" type="hidden"
                        th:value="${commentVO.foodCommentId}">
                    <input type="hidden" name="reciveMemberId" class="detailMemberId"
                        th:value="${commentVO.memberId}">
                    <div>
                        <textarea name="content" class="content" placeholder="댓글을 입력해주세요"></textarea>
                    </div>
                    <button class="comment_submit" type="button" onclick="submitComment(this)">댓글 쓰기</button>
                </form>

                <!-- 대댓글 공간 -->
                <th:block th:if="${commentVO.reCommentList != null}"
                    th:each="reComment, state : ${commentVO.reCommentList}">
                    <div th:id="${reComment.foodCommentId}" class="commentEach re">
                        <div class="commentBlock">
                            <input class="foodCommentId" name="foodCommentId" type="hidden"
                                th:value="${reComment.foodCommentId}">
                            <div class="noDeleteCom" th:if="${reComment.delCheck == 'N'}">
                                <p class="commentName"><span th:text="${reComment.memberVO.memberName}"></span>
                                </p>
                                <!-- <p><span>foodCode</span><span class="comment_name" th:text="${commentVO.foodCode}"></span></p> -->
                                <!-- <p><span>작성자id</span><span class="comment_name" th:text="${commentVO.memberId}"></span></p> -->
                                <p class="commentText"><span th:utext="${reComment.content}"></span></p>
                                <div class="updateInputBlock" style="display: none;">
                                    <input class="foodCommentId" name="foodCommentId" type="hidden"
                                        th:value="${reComment.foodCommentId}">
                                    <textarea type="text" class="input_textarea" id="inputUpdateComment" placeholder="댓글을 입력해주세요."
                                        name="inputUpdateComment"></textarea>
                                    <button th:if="${memberRole=='ADMIN'||user==reComment.memberId}" class="comment_submit" type="button" onclick="updateCheck(this)">댓글
                                        수정</button>
                                </div>
                                <p class="commentDate">
                                    <input class="upCheck" name="upCheck" type="hidden"
                                        th:value="${reComment.upCheck}">
                                    <span th:text="${reComment.reg_date}"></span>
                                    <span class="updateCheckBox" style="display: none;">( 수정됨 )</span>
                                    <span th:if="${reComment.upCheck == 'Y'}">( 수정됨 )</span>
                                </p>
                                <div class="commentBtns">
                                    <div class="updelBtn">
                                        <p class="commentBtn" th:if="${memberRole=='ADMIN'||user==reComment.memberId}" onclick="updateCommentBtn(this)">수정</p>

                                    </div>
                                    <p th:if="${memberRole=='ADMIN'||user==reComment.memberVO.memberId}" class="commentBtn" onclick="deleteCheck(this)">삭제</p>
                                </div>
                            </div>
                            <div class="deleteCom" th:if="${reComment.delCheck == 'Y'}">
                                <p class="commentName"><span th:text="${reComment.memberVO.memberName}"></span>
                                </p>
                                <p class="deleteText">삭제된 댓글입니다.</p>
                            </div>
                        </div>


                    </div>

                </th:block>

            </div>
        </th:block>

        <!-- <th:block>
            <div class="pageBtnBox">
                <div class="btn_group">
                    <div class="pageBtn" th:if="${#lists.size(commentList) != 0}">
                        <a class="page_prevBtn"
                        th:attr="onclick=|commentPaging(${commentVO.beginPage - 1})|">
                            <span th:if="${commentVO.prev}">이전</span>
                        </a>
                        <th:block th:each="pageNum : ${#numbers.sequence(commentVO.beginPage, commentVO.endPage)}">
                            <a th:id="page+${pageNum}" class="page_numBtn" th:attr="onclick=|commentPaging(${pageNum})|" >
                                <span th:text="${pageNum}"></span>
                            </a>
                        </th:block>
                        <a class="page_nextBtn"
                            th:attr="onclick=|foodPaging(${commentVO.endPage + 1})|">
                            <span th:if="${commentVO.next}">다음</span>
                        </a>
                    </div>
                </div>
            </div>
        </th:block> -->
    </div>

</body>

</html>