<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security6">

<head>
</head>

<body th:fragment="food_comment">

    <!-- <link rel="stylesheet" href="/css/content/myPage/replace/.css"> -->

    <th:block th:if="${commentList != null}" th:each="commentVO, state : ${commentList}">
        <div class="commentEach">
            <div class="commentBlock">

                <div class="noDeleteCom" th:if="${commentVO.delCheck == 'N'}">
                    <p class="commentName"><span th:text="${commentVO.memberVO.memberName}"></span>
                    </p>
                    <p class="commentText"><span th:text="${commentVO.content}"></span></p>

                    <p class="commentDate">
                        <input class="upCheck" name="upCheck" type="hidden" th:value="${commentVO.upCheck}">
                        <span th:text="${commentVO.reg_date}"></span>
                        <span class="updateCheckBox" style="display: none;">( 수정됨 )</span>
                        <span th:if="${commentVO.upCheck == 'Y'}">( 수정됨 )</span>
                    </p>
                </div>

            </div>

            

        </div>
    </th:block>


</body>

</html>