<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security6" >

<head>
</head>

<body th:fragment="food_comment">

    <link rel="stylesheet" href="/css/content/myPage/replace/food_comment.css">
    <div class="comment_wrap">
        <h1>댓글</h1>
        <div class="commentList">
            <th:block th:if="${commentList != null}" th:each="commentVO, state : ${commentList}">
                <div class="commentEach">
                    <p><span>작성자</span><span class="comment_name" th:text="${commentVO.memberVO.memberName}"></span></p>
                    <!-- <p><span>foodCode</span><span class="comment_name" th:text="${commentVO.foodCode}"></span></p> -->
                    <!-- <p><span>작성자id</span><span class="comment_name" th:text="${commentVO.memberId}"></span></p> -->
                    <p><span>댓글내용</span><span class="comment_name" th:text="${commentVO.content}"></span></p>
                    <p><span>등록일자</span><span class="comment_name" th:text="${commentVO.reg_date}"></span></p>
                    </div>
            </th:block>
        </div>
        <form class="newComment" action="#" sec:authorize="isAuthenticated()" th:object="${inputComment}">
            <input class="foodCode_hide" type="hidden" th:field="*{foodCode}">
            <h3>댓글등록</h3>
            <div>
                <textarea th:field="*{content}" class="content">
                </textarea>
            </div>
            <button class="comment_submit" type="button" onclick="submitComment()">댓글 쓰기</button>
        </form>
        
    </div>



</body>

</html>