/* 기본셋팅, 공통값 */
body,
input {
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 14px;
    line-height: 1.5;
    color: #121212;
}

img,
input,
button {
    vertical-align: top;
}

input,
button {
    padding: 0;
}

a {
    text-decoration: none;
}

textarea {
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 14px;
    line-height: 1.5;
    color: #121212;
    resize: none;
}

.hide {
    position: fixed;
    top: -99999px;
    left: -99999px;
    display: block;
    width: 0;
    height: 0;
    overflow: hidden;
}
.replace{
    position: relative;
    width: 1000px;
}
.myPage_title{
    display: -webkit-inline-box;
    position: relative;
    margin: -10px 0 20px 20px;
}

.myPage_title1{
    color: #000;
    font-size: 27px;
    font-weight: 700;
}
.myPage_title2{
    margin-top: 10px;
    margin-left: 3px;
    font-size: 21px;
    font-weight: 700;
    color: #f3c053;
}
.userInfo{
    box-sizing: border-box;
    padding: 40px 50px 16px 50px;
    position: relative;
    z-index: 1;
    margin: 15px auto 100px auto;
    width: 700px;
    border: 1px solid #dadada;
    border-radius: 6px;
    background-color: #fff;
    box-shadow: 0 5px 3px 0 rgba(68,68,68,.04);
}
.form{
    display: flex;
}
.defaultBox, .updateForm{
    width: 400px;
    justify-content: space-between;
    display: flex;
}
.updateBtn, .submit{
    background-color: #ffa43b;
    border: 1px solid transparent;
    width: 75px;
    height: 38px;
    border-radius: 4px;
    color: #fff;
}
.updateBtn:hover, .submit:hover{
    background-color: #f08509;
}
.off{
    display: none !important;
}
.myPage_icon{
    border-radius: 50%;
    border: 2px solid #ffd57a;
    width: 31px;
    height: 31px;
    text-align: center;
    margin-right: 10px;
}
.form span{
    width: 130px;
    color: #666;
}
.form span, .form p{
    margin-top: 5px;
    font-size: 18px;
}
.form p{
    color: #444;
}
.form{
    height: 50px;
    border-bottom: 1px solid #dadada;
    margin-bottom: 30px;
}
.myPage_icon.name{
    border: 0;
}
.updateForm input{
    box-sizing: border-box;
    width: 300px;
    height: 38px;
    border: 1px solid #dadada;
    border-radius: 4px;
    padding: 4px 9px 6px 9px;
    margin-left: -10px;
    font-size: 18px;
    color: #444;
    outline: 0;
}
.updateForm input:focus{
    border: 1px solid #333;
}
.input.gender {
    display: flex;
    width: 220px;
    box-sizing: border-box;
}

.gender_check input[type="radio"] {
    display: none;
}

.gender_check input[type="radio"]+span {
    display: inline-block;
    background: none;
    border: 1px solid #dadada;
    padding: 0px 10px;
    text-align: center;
    width: 90px;
    height: 35px;
    line-height: 33px;
    cursor: pointer;
}
.gender_check.male input[type="radio"]+span {
    border-radius: 5px 0 0 5px;
    margin: 0;
}

.gender_check.female input[type="radio"]+span {
    border-radius: 0 5px 5px 0;
    margin: 0;
}

.gender_check input[type="radio"]:checked+span {
    border: 1px solid #ffa43b;
    background: #ffa43b;
    color: #fff;
}
.gender_check input[type="radio"]:checked+span:hover, .gender_check input[type="radio"]+span:hover{
    background-color: #f29221;
    border: 1px solid #f29221;
    color: #fff;
}

.defaultBox.pw{
    width: 100%;
    justify-content: space-between;
}
.form.pw.checkPw{
    margin-top: 0;
    display: flex;
    width: 260px;
}
.checkPw{
    position: relative;
    margin: 0px 0 0 212px;
}
.checkPw a .checkText{
    padding: 0 10px 0 20px;
    width: 220px;
}
.checkPw > a .checkIcon{
    position: absolute;
    left: 0;
    top: -3px;
    font-size: 30px;
}
.checkPw > a  svg{
    top: 10px;
    right: 2px;
    position: absolute;
}
.checkPw > a{
    position: relative;
    height: 32px;
    display: flex;
}
.checkPw > a:hover .checkText{
    color: #000;
    border-bottom: 2px solid #333;
}
.checkPw > a:hover .bi.bi-chevron-right {
    fill: #000;
}
.checkPw > a:hover .checkIcon{
    color: #333;
}

.pw .updateForm{
    display: flex;
    flex-flow : column;
}

.form.pw.on{
    height: 90px;
    margin-top: 10px;
    margin-bottom: 10px;
}
input.pw_input{
    margin-left: 35px;
}
.pw.updateForm{
    margin-bottom: 20px;
}

.pwAlarmInner{
    z-index: 400;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: none;
}
.pwAlarmPopup{
    padding: 43px 10px;
    text-align: center;
    box-sizing: border-box;
    border-radius: 10px;
    background-color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    z-index: 401;
    width: 400px;
    height: 170px;
    margin: 15% auto;
}
.alarmText{
    font-weight: 300;
    font-size: 18px;
    color: #666;
}
.alarmBtnBox{
    position: relative;
    display: flex;
    justify-content: center;
}
.alarmBtn{
    font-weight: 300;
    color: #777;
    border-radius: 6px;
    margin: 20px;
    padding: 8px 25px;
    background-color: #fff;
    border: 1px solid #dadada;
    transition: color 0.3s ease;
    transition: background-color 0.3s ease;
}
.alarmBtn:hover{
    background-color: #ffa43b;
    color: #fff;
    border: 1px solid #ffd57a;
    transition: background-color 0.3s ease;
}