.as_food_wrap{
    padding: 20px 0;
}
.as_title0{
    text-align: center;
    color: #333;
    font-size: 21px;
    margin: 0 10px 10px 0;
}
.inner{
    position: relative;
    width: 1200px;
    margin: 0 auto;
}
/* 헤더 */
.recipeHeader{
    display: flex;
    justify-content: space-between;
}
.food_title{
    margin-bottom: 15px;
    display: -webkit-inline-box;
    margin-left: 20px;
}
.food_title0{
    color: #333;
    font-size: 20px;
    font-weight: 700;
    margin-right: 10px;
}
.food_title1{
    color: #333;
    font-size: 23px;
    font-weight: 700;
    margin-right: 10px;
}
.food_title2{
    margin: 5px 10px 3px -5px;
    font-size: 17px;
    font-weight: 700;
    color: #f3c053;
}
.allCountBox{
    display: inline-block;
    margin-top: 8px;
}
.allCountBox p span{
    color: #666;
}
.searchAndBtn{
    display: flex;
}
.foodSearchBlock{
    position: relative;
    box-sizing: border-box;
    padding: 6px 0px 6px 6px;
    width: 250px;
    height: 35px;
    border-radius: 6px;
    border: 2px solid #ffd57a;
    background-color: #fff;
    transition: border 0.2s ease;
    margin-right: 20px;
    box-shadow: 0 0px 5px 3px rgba(68,68,68,.03);
}
.searchFoodValue{
    width: 195px;
    height: 19px;
    font-size: 15px;
    background-color: transparent;
    outline: none;
    border: 0;
    color: #999;
}
.foodSearchBtn{
    cursor: pointer;
    position: absolute;
    right: 12px;
    top: 4px;
}
.bi.bi-search{
    transition: fill 0.3s ease;
}
.foodSearchBtn:hover .bi.bi-search{
    fill: rgb(242,146,33);
}
.foodTagBox{
    display: flex;
    border-radius: 4px;
    box-shadow: 0 0px 5px 3px rgba(68,68,68,.03);
}
.foodTag{
    cursor: pointer;
    background-color: #fff;
    color: #666;
    font-size: 13px;
    border: 1px solid #dadada;
    padding: 7px 20px;
    transition: background-color 0.3s ease;
    transition: color 0.3s ease;
}
.foodTag:hover{
    background-color: #f3c053;
    color: #fff;
    border: 1px solid #ffd57a;
    transition: background-color 0.3s ease;

}
.foodTag.on{
    background-color: #f29221;
    border: 1px solid #f3c053;
    color: #fff;
    transition: background-color 0.3s ease;
    transition: color 0.3s ease;
}
.foodTag:first-child{
    border-radius: 4px 0 0 4px;
}
.foodTag:last-child{
    border-radius: 0 4px 4px 0;
}

/* 레시피 */
.recipes{
    display: grid;
    grid-template-columns: 220px 220px 220px 220px 220px;
    gap: 24px;
    margin-bottom: 10px;
}
.recipe{
    cursor: pointer;
    display: grid;
    width: 220px;
    padding: 5px;
    border-radius: 4px;
    box-shadow: 0 0px 5px 3px rgba(68,68,68,.05);
    transition: box-shadow 0.3s ease;
}
.recipe:hover{
    box-shadow: 0 0px 5px 3px rgba(68,68,68,.2);
    transition: box-shadow 0.3s ease;
}
.recipeImgBox{
    margin-bottom: 10px;
    width: 220px;
    height: 220px;
}
.recipeImgBox img{
    border-radius: 4px;
    width: 100%;
    height: 100%;
}
.recipeTextBox{
    text-align: center;
    width: 200px;
    height: 40px;
    padding: 0 10px;
    margin-bottom: 5px;
}
.recipeTextBox1{
    display: flex;
    justify-content: space-between;
    width: 200px;
    padding: 0 5px;
}
.recipeTextBox p{
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 200px;
    height: 43px;
    font-size: 15px;
    color: #333;
}
.recipeTextBox1 p{
    font-size: 13px;
    color: #555;
    margin: 5px 0;
}
.cartBox{
    width: 60px;
    margin-right: -17px;
    margin-top: 7px;
    text-align: center;
}
.cartBox p{
    margin: 0;
}
.cartBox svg{
    cursor: pointer;
}

/* 공지사항 */
.Ann_Wrap{
    width: 1200px;
    margin: 0 auto;
}
.csc_ann{
    margin-bottom: 30px;
}
.csc_annTitle{
    position: relative;
}
.csc_annTitle1{
    font-size: 25px;
    font-weight: 700;
    color: #333;
    padding-bottom: 5px;
    margin: 0 auto;
}
.csc_annPlus{
    cursor: pointer;
    position: absolute;
    right: 20px;
    bottom: 10px;
    font-size: 16px;
    color: #333;
    display: flex;
}
.csc_annPlus1{
    color: #333;
    margin-right: 2px;
}
.csc_annPlus2{
    margin-top: 2px;
}
.csc_annPlus:hover .csc_annPlus1{
    color: #f29221;
}
.csc_annPlus:hover .csc_annPlus2 svg{
    fill: #f29221;
}
.csc_annBlock{
    border: 1px solid #dadada;
    border-radius: 9px;
    box-shadow: 0 2px 5px 0 rgba(68,68,68,.04);
}
.csc_annBox{
    cursor: pointer;
    padding: 15px 10px;
    display: flex;
    border-bottom: 1px solid #dadada;
}
.csc_annLink:last-child .csc_annBox {
    border: 0;
}
.annTypeBox{
    width: 130px;
    display: flex;
}
.annTypeBox p{
    font-size: 13px;
    color: #f3c053;
    margin: 0 5px;
}
.slash{
    font-weight: 700;
}
.annType{
    text-align: center;
    width: 80px;
}
.annTitle{
    width: 960px;
    margin: 1 10px 0 0;
    font-size: 13px;
    color: #666;
}
.csc_annBox:hover .annTypeBox p{
    color: #f29221;
}
.csc_annBox:hover .annTitle{
    color: #000;
}
.annDate{
    color: #666;
}
.csc_annBox:hover .annDate{
    color: #000;
}

/* 자주 찾는 질문 */
.Qna_Wrap{
    width: 1200px;
    margin: 0 auto;
}
.qnaBlock{
    border: 1px solid #dadada;
    border-radius: 9px;
    box-shadow: 0 2px 5px 0 rgba(68,68,68,.04);
    width: 100%;
    box-sizing: border-box;
}
.qnaInner{
    cursor: pointer;
    border-bottom: 1px solid #dadada;
}
.qnaInner:last-child{
    border: 0;
}
.qnaBox{
    padding: 10px;
    position: relative;
    display: flex;
    font-size: 20px;
}
.qnaIcon{
    width: 28px;
    height: 28px;
    margin-right: 10px;
}
.qnaIcon svg{
    transition: fill 0.5s ease;
}
.qnaText{
    box-sizing: border-box;
    height: 32px;
    width: 770px;
    margin-right: 25px;
    transition: color 0.5s ease;
}
.qnaBox.on > .qnaText p{
    font-weight: 700;
    color: #333;
    transition: color 0.5s ease;
}
.qnaBox.on > .qnaIcon svg{
    fill: #f29221;
    transition: fill 0.5s ease;
}
.qnaText p{
    margin-top: 2px;
    color: #666;
    font-size: 17px;
}
.qnaArrow{
    box-sizing: border-box;
    width: 30px;
    padding: 1px;
    height: 30px;
    cursor: pointer;
    transition: transform 0.5s ease;
    position: absolute;
    right: 15px;
}
.qnaArrow:hover svg{
    fill: #333;
}
.ansBox{
    display: none;
    padding: 0px 48px 10px 48px;
}
.ansText p{
    font-size: 16px;
    color: #666;
}
.rotate{
    transform: rotate(180deg);
    transition: transform 0.5s ease;
}