<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{fragment/main/main_layout}">

<head>
    <meta charset="UTF-8">
    <title></title>
    <!-- css 영역 -->
    <th:block layout:fragment="content_css">
        <link rel="stylesheet" href="/css/content/food/weather.css">
    </th:block>
</head>

<body>
    <th:block layout:fragment="content">
        <div class="weatherWrap">
            <div class="weatherInner">
                <div class="weatherBlock">
                    <div class="weatherBlockInner">
                        <div class="weatherLeftBlock">
                            <div class="weatherTextBox">
                                <div class="regionParentBlock" th:each="regionParent : ${regionParents}">
                                    <p class="parentBox" onclick="toggleRegionChildBox(this)">[[${regionParent.regionParent}]]</p>
                                    <div class="regionChildBlock">
                                        <div class="regionChildBox" onclick="selectRegionChildBox(this)" th:if="${regionParent.areaCode == regionChild.areaCode}"
                                            th:each="regionChild : ${regionChilds}">
                                            <input class="nxValue" type="hidden" th:value="${regionChild.nx}">
                                            <input class="nyValue" type="hidden" th:value="${regionChild.ny}">
                                            <p class="regionChildText">[[${regionChild.regionChild}]]</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="weatherImgBox">
                            <div class="weatherImgTop">
                                <div class="weatherImgHeader">
                                    <p class="parentArea"></p>
                                    <p class="childArea"></p>
                                </div>
                            </div>
                            <div class="weatherImgMid">
                                <div class="weatherImg">
                                    <img class="" src="">
                                </div>
                                <div class="weatherTemp"></div>
                            </div>
                            <div class="weatherImgBot">
                                <div class="weatherTextTop">
                                    <p>하늘 상태 :</p>
                                    <p class="skyState"></p>
                                </div>
                                <div class="weatherTextBot">
                                    <div class="weatherRainLeft">
                                        <p>강수 확률 :</p>
                                        <p class="rainPer"></p>
                                    </div>
                                    <div class="weatherRainRight">
                                        <p>강수 형태 :</p>
                                        <p class="rainState"></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </th:block>
</body>
<!-- js 영역 -->
<th:block layout:fragment="content_js">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="/js/content/weather/weather.js"></script>
</th:block>

</html>