<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{fragment/csc/csc_layout}">

<head>
    <meta charset="UTF-8">
    <title></title>
    <!-- css 영역 -->
    <th:block layout:fragment="content_css">
        <link rel="stylesheet" href="/css/content/csc/inq/csc_inqDetail.css">
    </th:block>
</head>

<body>
    <th:block layout:fragment="content">
        <div class="vis-weather">
            <div class="inqImgBlock" th:each="regionParent : ${regionParents}">
                <p>[[${regionParent.regionParent}]]</p>
                <div th:if="${regionParent.areaCode == regionChild.areaCode}" class="inqImgBlock" th:each="regionChild : ${regionChilds}">
                    <p>[[${regionChild.regionChild}]]</p>
                </div>
            </div>
        </div>
    </th:block>
</body>
<!-- js 영역 -->
<th:block layout:fragment="content_js">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="/js/content/weather/weather.js"></script>
</th:block>

</html>

