@charset "UTF-8";

/* 기본셋팅, 공통값 */
body,
input {
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 14px;
    line-height: 1.5;
    color: #121212;
}

img,
input,
button {
    vertical-align: top;
}

input,
button {
    padding: 0;
}

a {
    text-decoration: none;
}

textarea {
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 14px;
    line-height: 1.5;
    color: #121212;
    resize: none;
}

.hide {
    position: fixed;
    top: -99999px;
    left: -99999px;
    display: block;
    width: 0;
    height: 0;
    overflow: hidden;
}
#wrap {
    position: relative;
}
.inner{
    width: 900px;
    margin: 0 auto;
}
.logoBlock{
    width: 100%;
    margin: 80px auto 30px auto;
}
.logo{
    margin: 0 auto;
    width: 250px;
    height: auto;
}
.logo a{
    display: block;
    height: 100%;
    width: 100%;
}
.logo a img{
    width: 100%;
    height: auto;
}
.loginBlock{
    box-sizing: border-box;
    padding: 30px;
    position: relative;
    z-index: 1;
    margin: 30px auto 70px auto;
    width: 460px;
    border: 1px solid #dadada;
    border-radius: 6px;
    background-color: #fff;
    box-shadow: 0 5px 3px 0 rgba(68,68,68,.04);
}
.inputBox{
    display: flex;
    width: 380px;
    height: 36px;
    margin: 0 auto 20px auto;
    padding: 6px;
    box-sizing: border-box;
    background-color: #f4f4f4;
    border-radius: 6px;
    border: 1px solid transparent;
}
.icon{
    width: 26px;
    height: 26px;
    margin-right: 6px;
}
.inputBox.on{
    background-color: #fff;
    border: 1px solid #f29221;
}
.inputBox.on svg{
    fill: #f29221;
}
.inputBox input{
    margin-top: 1px;
    width: 325px;
    font-size: 13px;
    background-color: transparent;
    border: 0;
    outline: 0;
}
.loginBtnForm{
    width: 380px;
    margin: 0 auto 20px auto;
}
.loginBtn{
    cursor: pointer;
    width: 100%;
    height: 40px;
    background-color: #ffa43b;
    border: 0;
    border-radius: 6px;
    color: #fff;
    box-shadow: 0 5px 8px 0 rgba(68,68,68,.04);
}
.loginBtn:hover{
    background-color: #f08509;
}
.loginFooter{
    display: flex;
    justify-content: space-between;
    width: 250px;
    margin: 0 auto;
}
.loginFooter p{
    margin: 0;
}
.loginFooter p a{
    color: #888;
}
.loginFooter p:hover a{
    color: #f29221;
}
.inputBox.fail svg{
    fill: #ff3f3f;
}
.inputBox.fail .inputMem::placeholder{
    color: #ff3f3f;
}

.logoutError{
    position: absolute;
    padding: 20px 10px;
    text-align: center;
    box-sizing: border-box;
    border-radius: 10px;
    background-color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    z-index: 401;
    width: 300px;
    height: 100px;
    top: 35%;
    left: -150px;
    margin-left: 50%;
}
.logoutError p{
    font-weight: 300;
    font-size: 16px;
    color: #666;
    margin-bottom: 10px;
}
.logoutError button{
    cursor: pointer;
    font-weight: 300;
    color: #777;
    border-radius: 6px;
    margin: 8px;
    padding: 3px 16px;
    background-color: #fff;
    border: 1px solid #dadada;
    transition: color 0.3s ease;
    transition: background-color 0.3s ease;
}
.logoutError button:hover{
    background-color: #ffa43b;
    color: #fff;
    border: 1px solid #ffd57a;
    transition: background-color 0.3s ease;
}
