@charset "UTF-8";
/* 기본셋팅, 공통값 */
body, input{
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 14px;
    line-height: 1.5;
    color: #121212;
}
img, input, button{
    vertical-align: top;
}
input, button{
    padding: 0;
}
a{
    text-decoration: none;
}

textarea{
    resize: none;
}

.hide{
    position: fixed;
    top: -99999px;
    left: -99999px;
    display: block;
    width: 0;
    height: 0;
    overflow: hidden;
}
.wrap{
    z-index: 400;
    position: relative;
    width: 100%;
    border-bottom: 1px solid #eee;
}

.h_inner{
    position: relative;
    width: 1200px;
    height: auto;
    margin: 0 auto;

}
.headLeft{
    display: flex;
}
.headtop{
    justify-content: space-between;
    box-sizing: border-box;
    width: 100%;
    padding: 22px 20px 0 20px;
    display: flex;
}
.tap{
    width: 40px;
    height: 45px;
    border-radius: 4px;
    cursor: pointer;
    margin: 2px 7px 0 5px;
}

.tap:hover .bi.bi-justify-left{
    fill: rgb(242,146,33);
    background-color: #f4f4f4;
    border-radius: 6px;
}
.logo{
    margin-top: 7px;
    cursor: pointer;
    text-align: center;
}
.logoblock{
    width: 100px;
    height: 40px;
}
.logoblock .logo img{
    width: 100%;
    height: 100%;
}
.icons{
    padding: 5px;
    display: flex;
}
.icon{
    position: relative;
    width: 50px;
    height: 50px;
    box-sizing: border-box;
    cursor: pointer;
}
.iconImg{
    width: 27px;
    height: 27px;
    margin: 0 auto;
}
.icon:hover .iconImg svg{
    fill: rgb(242,146,33);
}
.iconText{
    font-size: 13px;
    line-height: 18px;
}

.searchblock{
    margin: 0 auto;
    position: relative;
    box-sizing: border-box;
    padding: 7px 15px;
    width: 450px;
    height: 40px;
    border-radius: 20px;
    border: 2px solid transparent;
    background-color: #f4f4f4;
    transition: border 0.2s ease;
    /* box-shadow: 0 5px 8px 0 rgba(68,68,68,.04); */
}
.allSearchKeyword{
    margin-top: -2px;
    width: 380px;
    height: 26px;
    font-size: 16px;
    background-color: transparent;
    outline: none;
    border: 0;
    color: #999;
}
.searchIcon{
    cursor: pointer;
    position: absolute;
    top: 8px;
    right: 10px;
}
.searchIcon svg{
    transition: fill 0.2s ease;
}
.searchIcon:hover >svg{
    fill: rgb(242,146,33);
}
.popup{
    z-index: 500;
    display: none;
    position: absolute;
    top: 40px;
    right: -33px;
    background-color: #fff;
    box-shadow: -1px 1px 8px 0px rgba(68,68,68,.3);
    border-radius: 5px;
    padding: 20px 10px;
    width: 100px;
    height: auto;
}
.popup.alarm{
    width: 250px;
    right: -106px;
    padding: 10px 2px 10px 10px
}
.zeroAlarm{
    padding: 20px;
    text-align: center;
    color: #666;
}
.alarmInner{
    height: auto;
    max-height: 270px;
    overflow-y: auto;
    overflow-x: hidden;
    border: 1px solid #ececec;
    padding: 3px 1px;
    width: 241px;
    border-radius: 8px;
}
.alarmInner::-webkit-scrollbar,
.outputbox::-webkit-scrollbar {
    position: absolute;
  width: 12px;
}

.alarmInner::-webkit-scrollbar-track,
.outputbox::-webkit-scrollbar-track {
  background: #fff;
}

.alarmInner::-webkit-scrollbar-thumb,
.outputbox::-webkit-scrollbar-thumb {
  background-color: #dadada;
  border-radius: 6px;
  border: 3px solid #fff;
}

.alarmInner::-webkit-scrollbar-thumb:hover,
.outputbox::-webkit-scrollbar-thumb:hover {
  background-color: #b0b0b0;
  cursor: pointer;
}
.alarmHeader{
    margin-bottom: 5px;
    justify-content: space-between;
    display: flex;
}
.alarmTitle{
    display: -webkit-inline-box;
    position: relative;
    margin-left: 10px;
}
.alarmTitle1{
    color: #000;
    font-size: 18px;
    font-weight: 700;
}
.alarmTitle2{
    margin-top: 10px;
    margin-left: 3px;
    font-size: 11px;
    font-weight: 700;
    color: #f3c053;
}
.alarmBox:hover{
    background-color: #ececec;
    border-radius: 6px;
    transition: all 0.2s ease;
}
.alarmTop{
    display: flex;
}
.nicName{
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 45px;
    height: 20px;
    font-size: 13px;
    color: #333;
}
.alarmDeleteBox{
    color: #888;
    display: flex;
    height: 20px;
    margin-top: 7px;
    font-size: 13px;
    margin-right: 16px;
}
.alarmDelete{
    margin-right: 2px;
}
.alarmDeleteBox:hover p{
    color: #f3c053;
}
.alarmBox{
    border-radius: 6px;
    width: 238px;
    box-sizing: border-box;
    position: relative;
    padding: 2px 10px;
    transition: all 0.5s ease;
    margin-bottom: 10px;
    margin-right: 10px;
    margin-left: 2px;
}
.alarmBox span{
    color: #333;
    font-size: 13px;
}
.alarmBot> .alarmDate{
    font-size: 11px;
    margin-top: 3px;
    color: #888;
}
.alarmIcon{
    position: absolute;
    right: 8px;
    top: 13px;
}
.alarmIcon:hover svg{
    fill: #f3c053;
}
.popupTap{
    z-index: 500;
    display: none;
    position: absolute;
    left: 5px;
    background-color: #fff;
    box-shadow: -1px 1px 8px 0px rgba(68,68,68,.3);
    border-radius: 5px;
    padding: 10px 10px 15px 10px;
    width: 300px;
    height: auto;
}
.mymenubox p{
    text-align: center;
    z-index: 500;
    border-radius: 4px;
    border: 1px solid #ffd57a;
    color: #f3c053;
    width: 100px;
    height: 30px;
    padding: 5px 15px;
    box-sizing: border-box;
    box-shadow: 0 2px 5px 0 rgba(68,68,68,.04);
    margin-bottom: 10px;
}
.comTextBox{
    margin: 0 auto;
    display: flex;
}
.alarmBot{
    width: 196px;
    justify-content: space-between;
    display: flex;
}
.alarmTag{
    display: block;
    width: 200px;
}
.alarmTag.check, .alarmTag.check * {
    color: #dadada;
    fill: #dadada;
    background-color: transparent;
}
.alarmTag.check .alarmIcon:hover * {
    fill: #f3c053;
}


.comText{
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 100px;
    font-size: 13px;
    color: #333;
}
.mymenubox:hover p{
    border: 0;
    color: #fff;
    background-color: #f3c053;
}
.mymenubox:last-child p{
    margin-bottom: 0;
}
/* 팝업 */
.popupInner{
    width: 100%;
}
.popupTitle{
    display: -webkit-inline-box;
    margin: 0 0 20px 5px;
}
.popupTitle1{
    color: #333;
    font-size: 18px;
    font-weight: 700;
    margin-right: 4px;
}
.popupTitle2{
    margin: 4px 10px 3px 0;
    font-size: 15px;
    font-weight: 700;
    color: #f3c053;
}
.popupBlock{
    padding: 15px;
    position: relative;
    margin-bottom: 20px;
    border: 1px solid #dadada;
    border-radius: 6px;
}
.popupBlock:last-child{
    margin-bottom: 0;
}
.popupBoxTitle{
    top: -14px;
    left: 11px;
    display: block;
    position: absolute;
}
.popupBoxTitle p{
    padding: 0 10px 0 3px;
    font-size: 18px;
    font-weight: 400;
    color: #333;
    position: relative;
    display: inline-block;
    background-color: #fff;
}
.popupBoxContent p{
    margin-bottom: 10px;
}
.popupContent, .popupBoxContent p{
    font-size: 15px;
    font-weight: 300;
    color: #444;
}
.popupBoxContent p:hover > .popupContent{
    color: #f3c053;
}
.popupBoxContent p:last-child{
    margin-bottom: 0;
}
.popupBoxContent p:first-child{
    margin-top: 6px;
}
.recipeAll{
    font-size: 15px;
    margin-bottom: 10px;
    font-weight: 400;
    color: #333;
}
.recipeAll:hover{
    color: #f3c053;
}



/* 삭제 팝업창 */

.pu_delete{
    z-index: 9999;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.pu_blind{
    display: none;
}

.pu_inner{
    width: 300px;
    height: 100px;
    background-color: aquamarine;
    margin: 20vh auto;
    padding: 30px;
}

.pu_text_box{
    text-align: center;
    margin-bottom: 20px;
}

.pu_btn_box{
    display: flex;
    justify-content: center;
}

.pu_btn{
    width: 50px;
    height: 30px;
    border-radius: 8px;
    margin: 10px 15px;
}
