<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{fragment/csc/csc_layout}">

<head>
    <meta charset="UTF-8">
    <title></title>
    <!-- css 영역 -->
    <th:block layout:fragment="content_css">
        <link rel="stylesheet" href="/css/content/csc/inq/csc_inqDetail.css">
    </th:block>
</head>

<body>
    <th:block layout:fragment="content">
        <div class="csc_wrap">
            <div class="csc_title">
                <p class="csc_title1">문의</p>
                <p class="csc_title2">INQUIRE</p>
            </div>
            <div class="csc_inner">
                <div class="annDetailHeader">
                    <div class="annHeader1">
                        <p class="annCate">
                            <span class="cateText">[</span>
                            <span class="cateText">[[${inqDetail.inqCateList.cateName}]]</span>
                            <span class="cateText">]</span>
                        </p>
                        <p class="annTitle">[[${inqDetail.inqTitle}]]</p>
                    </div>
                    <div class="annHeader2">
                        <p class="annDate">
                            <span>작성일 : </span>
                            <span>[[${inqDetail.inqDate}]]</span>
                        </p>
                        <p class="annWriter">
                            <span>작성자 : </span>
                            <span>관리자</span>
                        </p>
                    </div>
                </div>
                <div class="annContent">
                    <p th:utext="${inqDetail.inqContent}"></p>
                </div>
                <div class="imgBox" th:if="${inqImgList != null and inqImgList.size() > 0}">
                    <div class="inqImgBlock" th:each="inqImg : ${inqImgList}">
                        <img th:src="${'/img/csc/inq/'+ inqImg.attachedFileName}" alt="">
                    </div>
                </div>
            </div>
            <div class="csc_title"  th:if="${inqDetail.inqResponse == 'Y'}">
                <p class="csc_title1">답변</p>
                <p class="csc_title2">Answer</p>
            </div>
            <div class="csc_inner"  th:if="${inqDetail.inqResponse == 'Y'}">
                <div class="annDetailHeader">
                    <div class="annHeader2">
                        <p class="annDate">
                            <span>작성일 : </span>
                            <span>[[${resInq.resDate}]]</span>
                        </p>
                    </div>
                </div>
                <div class="annContent">
                    <p th:utext="${resInq.resContent}"></p>
                </div>
                <div class="imgBox" th:if="${resImgList != null and resImgList.size() > 0}">
                    <div class="inqImgBlock" th:each="resImg : ${resImgList}">
                        <img th:src="${'/img/csc/res/'+ resImg.attachedFileName}" alt="">
                    </div>
                </div>

            </div>
            <div class="btnBlock">
                <div class="btnBox">
                    <a th:href="@{/csc/responseInqForm(inqCode=${inqDetail.inqCode})}"
                        th:if="${inqDetail.inqResponse == 'N'}" class="btn">
                        <p>답변하기</p>
                    </a>
                    <input type="hidden" th:value="${inqDetail.inqCode}" class="deleteInqCode">
                    <input type="hidden" th:value="${inqDetail.inqResponse}" class="deleteIsRes">
                    <input th:if="${inqDetail.inqResponse == 'Y'}" type="hidden" th:value="${resInq.resCode}" class="deleteResCode">
                    <div class="btn deleteinqBtn" onclick="deletePopUp()">삭제하기</div>
                </div>
            </div>
            <div class="bigImgBlock">
                <div class="bigImgBox">
                    <img class="bigImg" id="img01">
                    <span class="close">&times;</span>
                </div>
            </div>
        </div>
    </th:block>
</body>
<!-- js 영역 -->
<th:block layout:fragment="content_js">
    <script src="/js/content/csc/inq/csc_inqDetail.js"></script>
</th:block>

</html>