<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{fragment/food_layout}">

<head>
    <meta charset="UTF-8">
    <title>Title</title>

</head>

<body>
    <th:block layout:fragment="content">
        <link rel="stylesheet" href="/css/content/food/food_main.css">
        <div class="wrap">
            <div class="inner">
                <div class="recipeBlock">
                    <div class="food_title">
                        <p class="food_title1">전체</p>
                        <p class="food_title2">HOME</p>
                        <!-- <p class="titleLine"></p> -->
                    </div>
                    <div class="recipeBox">
                        <div class="recipes">
                            <a th:each="food, state : ${foodList}" class="recipe">
                                <div class="recipeImgBox">
                                    <img src="/img/food/examImg.jpg" alt="">
                                </div>
                                <div class="recipeTextBox">
                                    <p>[[${food.foodName}]]</p>
                                </div>
                                <div class="recipeTextBox1">
                                    <div class="recipeTextBox11">
                                        <p class="foodDifBox">
                                            <span>난이도</span>
                                            <span>:</span>
                                            <span>[[${food.foodDif}]]</span>
                                        </p>
                                        <p class="cntBox">
                                            <span>조회수</span>
                                            <span>[[${food.foodInqCnt}]]</span>
                                        </p>
                                    </div>
                                    <div class="cartBox">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="#ff3f3f" class="bi bi-heart" viewBox="0 0 16 16">
                                            <path d="m8 2.748-.717-.737C5.6.281 2.514.878 1.4 3.053c-.523 1.023-.641 2.5.314 4.385.92 1.815 2.834 3.989 6.286 6.357 3.452-2.368 5.365-4.542 6.286-6.357.955-1.886.838-3.362.314-4.385C13.486.878 10.4.28 8.717 2.01zM8 15C-7.333 4.868 3.279-3.04 7.824 1.143q.09.083.176.171a3 3 0 0 1 .176-.17C12.72-3.042 23.333 4.867 8 15"/>
                                          </svg>
                                          <p>
                                            <span>(</span>
                                            <span>[[${food.foodRcmmCnt}]]</span>
                                            <span>)</span>
                                        </p>
                                    </div>   
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
                
            </div>
        </div>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
        <script src="/js/slick.min.js"></script>
        <script src="/js/content/food/food_main.js"></script>
    </th:block>
</body>

</html>
