<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{fragment/food/food_layout}">

<head>
    <meta charset="UTF-8">
    <title></title>
    <!-- css 영역 -->
    <th:block layout:fragment="content_css">
        <link rel="stylesheet" href="/css/content/food/food_detail.css">
        <link rel="stylesheet" href="/css/content/myPage/Toggle.css">
    </th:block>
</head>

<body>
    <th:block layout:fragment="content">
        <input id="response_commentId" type="hidden" th:if="${foodCommentId != null}" th:value="${foodCommentId}">
        <input class="foodCode_hidden" type="hidden" th:value="${foodDetail.foodCode}">
        <input id="favoriteList" type="hidden" th:data-favorite-list="${favoriteList}">

        <input type="hidden" name="memberId" class="detailMemberId" th:value="${foodDetail.memberId}">
        <div id="wrap">
            <div class="deleteFoodCheckInner pop_blind">
                <div class="commentCheckPopup">
                    <div class="checkTextBox">
                        <p class="checkText">삭제를 완료하시겠습니까?</p>
                    </div>
                    <div class="checkBtnBox">
                        <button class="comCheckBtn yes" onclick="deleteFood()">확인</button>
                        <button class="comCheckBtn no" onclick="NoDelete()">취소</button>
                    </div>
                </div>
            </div>
            <div class="commentFoodAlarmInner pop_blind">
                <div class="commentAlarmPopup">
                    <div class="alarmTextBox">
                        <p class="alarmText"></p>
                    </div>
                    <div class="alarmBtnBox">
                        <button class="alarmBtn yes" onclick="okFoodBtn()">확인</button>
                    </div>
                </div>
            </div>
            <div class="inner">
                <div class="header">
                    <div class="food_title">
                        <p class="food_title1">레시피</p>
                        <p class="food_title2">Recipe</p>
                    </div>
                </div>
                <div class="recipeBlock">
                    <div class="recipe_header">
                        <div class="recipe_header_top">
                            <div class="recipe_title_box">
                                <p class="recipe_cate">
                                    <span class="cateText">[</span>
                                    <span class="cateText">[[${foodDetail.foodName}]]</span>
                                    <span class="cateText">]</span>
                                </p>
                                <p class="recipe_title">[[${foodDetail.foodTtl}]]</p>
                            </div>
                            <div class="recipeTopRight">
                                <div class="cartBox" onclick="addOrDelFav(this)">
                                    <div class="heartBox">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="#ff3f3f"
                                            class="bi bi-heart mousedown" viewBox="0 0 16 16">
                                            <path
                                                d="m8 2.748-.717-.737C5.6.281 2.514.878 1.4 3.053c-.523 1.023-.641 2.5.314 4.385.92 1.815 2.834 3.989 6.286 6.357 3.452-2.368 5.365-4.542 6.286-6.357.955-1.886.838-3.362.314-4.385C13.486.878 10.4.28 8.717 2.01zM8 15C-7.333 4.868 3.279-3.04 7.824 1.143q.09.083.176.171a3 3 0 0 1 .176-.17C12.72-3.042 23.333 4.867 8 15" />
                                        </svg>
                                        <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="#ff3f3f"
                                            class="bi bi-heart-fill heartOff mousedown" viewBox="0 0 16 16">
                                            <path fill-rule="evenodd"
                                                d="M8 1.314C12.438-3.248 23.534 4.735 8 15-7.534 4.736 3.562-3.248 8 1.314" />
                                        </svg>
                                    </div>
                                    <p class="rcmmCntBox">
                                        <span>(</span>
                                        <span class="RcmmCnt">[[${foodDetail.foodRcmmCnt}]]</span>
                                        <span>)</span>
                                    </p>
                                </div>
                            </div>
                            <div class="recipe_cate_block">
                                <a th:href="@{/food/searchFoodPage(foodKindCode=${foodDetail.foodKindCode})}"
                                    class="recipe_cate1">
                                    <span>종류별 :</span>
                                    <span
                                        th:if="${foodCodeList.foodKindVO != null and foodCodeList.foodKindVO.foodKindText != null and !foodCodeList.foodKindVO.foodKindText.isEmpty()}"
                                        th:text="${foodCodeList.foodKindVO.foodKindText}"></span>
                                    <span
                                        th:if="${foodCodeList.foodKindVO == null || foodCodeList.foodKindVO.foodKindText == null || foodCodeList.foodKindVO.foodKindText.isEmpty()}">
                                        정보 없음
                                    </span>
                                </a>
                                <a th:href="@{/food/searchFoodPage(foodUsageCode=${foodDetail.foodUsageCode})}"
                                    class="recipe_cate1">
                                    <span>상황별 :</span>
                                    <span
                                        th:if="${foodCodeList.foodUsageVO != null and foodCodeList.foodUsageVO.foodUsageText != null and !foodCodeList.foodUsageVO.foodUsageText.isEmpty()}"
                                        th:text="${foodCodeList.foodUsageVO.foodUsageText}"></span>
                                    <span
                                        th:if="${foodCodeList.foodUsageVO == null || foodCodeList.foodUsageVO.foodUsageText == null || foodCodeList.foodUsageVO.foodUsageText.isEmpty()}">
                                        정보 없음
                                    </span>
                                </a>
                                <a th:href="@{/food/searchFoodPage(foodMtrlCode=${foodDetail.foodMtrlCode})}"
                                    class="recipe_cate1">
                                    <span>재료별 :</span>
                                    <span
                                        th:if="${foodCodeList.foodMtrlVO != null and foodCodeList.foodMtrlVO.foodMtrlText != null and !foodCodeList.foodMtrlVO.foodMtrlText.isEmpty()}"
                                        th:text="${foodCodeList.foodMtrlVO.foodMtrlText}"></span>
                                    <span
                                        th:if="${foodCodeList.foodMtrlVO == null || foodCodeList.foodMtrlVO.foodMtrlText == null || foodCodeList.foodMtrlVO.foodMtrlText.isEmpty()}">
                                        정보 없음
                                    </span>
                                </a>
                                <a th:href="@{/food/searchFoodPage(foodTypeCode=${foodDetail.foodTypeCode})}"
                                    class="recipe_cate1">
                                    <span>방법별 :</span>
                                    <span
                                        th:if="${foodCodeList.foodTypeVO != null and foodCodeList.foodTypeVO.foodTypeText != null and !foodCodeList.foodTypeVO.foodTypeText.isEmpty()}"
                                        th:text="${foodCodeList.foodTypeVO.foodTypeText}"></span>
                                    <span
                                        th:if="${foodCodeList.foodTypeVO == null || foodCodeList.foodTypeVO.foodTypeText == null || foodCodeList.foodTypeVO.foodTypeText.isEmpty()}">
                                        정보 없음
                                    </span>
                                </a>
                            </div>
                        </div>
                        <div class="recipe_header_bot">
                            <div class="recipe_header_bot_left">

                                <div class="recipe_info_block">
                                    <p class="recipe_info">
                                        <span>작성자 : </span>
                                        <span>[[${foodDetail.memberName}]]</span>
                                    </p>
                                    <p class="recipe_info">
                                        <span>작성일 : </span>
                                        <span>[[${foodDetail.foodRegDt}]]</span>
                                    </p>
                                </div>
                                <div class="recipe_info_block">
                                    <p class="recipe_info">
                                        <span>조회수 :</span>
                                        <span>[[${foodDetail.foodInqCnt}]]</span>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="recipe_content">
                        <div class="recipe_content_inner">
                            <div class="recipe_content_info">
                                <div class="recipe_info_top">
                                    <div class="recipe_info_left">
                                        <div class="recipe_img">

                                            <img th:if="${foodImg == null}" src="/img/food/examImg.jpg" alt="">
                                            <img th:if="${foodImg != null}"
                                                th:src="${'/img/food/recipe/'+ foodImg.attachedFileName}" alt="">
                                        </div>
                                    </div>
                                    <div class="recipe_info_right">
                                        <div class="recipe_mtrl_block">
                                            <div class="mtrl_block_title">
                                                <p class="mtrl_block_title1">
                                                    재료
                                                </p>
                                                <p class="mtrl_block_title2">
                                                    Ingredients
                                                </p>
                                            </div>
                                            <div class="recipe_mtrl">
                                                <div th:if="${mtrlTitles.size() > 1 and mtrlTitles.get(1) != null}"
                                                    class="mtrlTitle">
                                                    <span>[</span>
                                                    <span th:text="${mtrlTitles.get(0)}">
                                                    </span>
                                                    <span>]</span>
                                                </div>
                                                <div class="mtrlMt">
                                                    <div th:each="mtrlMt : ${mtrlMt1}">
                                                        <p class="mtText" th:text="${mtrlMt[0]}"></p>
                                                        <p th:if="${mtrlMt.size() > 1 and mtrlMt[1] != null}"
                                                            class="mtNum" th:text="${mtrlMt[1]}"></p>
                                                        <p th:if="${mtrlMt.size() > 2 and mtrlMt[2] != null}"
                                                            class="mtNum" th:text="${mtrlMt[2]}"></p>
                                                    </div>
                                                </div>
                                            </div>
                                            <div th:if="${mtrlTitles.size() > 1 and mtrlTitles.get(1) != null}"
                                                class="recipe_mtrl">
                                                <p class="mtrlTitle">
                                                    <span>[</span>
                                                    <span th:text="${mtrlTitles.get(1)}">
                                                    </span>
                                                    <span>]</span>
                                                </p>
                                                <div class="mtrlMt">
                                                    <div th:each="mtrlMt : ${mtrlMt2}">
                                                        <p class="mtText" th:text="${mtrlMt[0]}"></p>
                                                        <p th:if="${mtrlMt.size() > 1 and mtrlMt[1] != null}"
                                                            class="mtNum" th:text="${mtrlMt[1]}"></p>
                                                        <p th:if="${mtrlMt.size() > 2 and mtrlMt[2] != null}"
                                                            class="mtNum" th:text="${mtrlMt[2]}"></p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="recipe_info_bot">
                                    <div class="recipe_indc">
                                        <div class="indc_title">
                                            <p class="indc_title1">
                                                레시피 소개
                                            </p>
                                            <p class="indc_title2">
                                                Introduce
                                            </p>
                                        </div>
                                        <p class="recipe_indc_text">[[${foodDetail.foodIndc}]]</p>
                                    </div>
                                </div>
                                <div class="recipe_info_text">
                                    <div class="recipe_steps">
                                        <div class="steps_title">
                                            <p class="steps_title1">
                                                조리순서
                                            </p>
                                            <p class="steps_title2">
                                                Steps
                                            </p>
                                        </div>
                                        <div class="stepsTextBox" th:each="foodStep,state : ${foodSteps}">
                                            <div class="stepsNumber">
                                                <p th:text="${state.index + 1}"></p>
                                            </div>
                                            <p class="stepsText" th:text="${foodStep}"></p>
                                        </div>
                                        <div class="stepsTextBox"
                                            th:if="${foodSteps == null || #lists.size(foodSteps) == 0 }">
                                            <p class="stepsText">등록된 조리순서가 없습니다.</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="updateBtnBlock"
                        th:if="${memberIdCheck != null and foodDetail.memberId == memberIdCheck}">
                        <div class="updateBtnBox">
                            <a th:href="@{/food/updateFoodForm(foodCode=${foodDetail.foodCode})}">
                                <p>수정하기</p>
                            </a>
                            <p onclick="deletePopUp()">삭제하기</p>
                        </div>
                    </div>
                    <div class="newComment">
                        <div class="replacePosition"></div>
                    </div>
                </div>
            </div>
        </div>
    </th:block>
</body>
<!-- js 영역 -->
<th:block layout:fragment="content_js">
    <script src="/js/content/food/food_detail.js"></script>
    <script src="/js/content/myPage/favorite_detail.js"></script>
    <script src="/js/content/myPage/replace/food_comment.js"></script>
</th:block>

</html>