<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{fragment/food/food_layout}">

<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>

<body>
    <th:block layout:fragment="content">
        <link rel="stylesheet" href="/css/content/food/recipe_detail_copy_copy.css">
        <div id="wrap">
            <div class="inner">
                <div class="recipe_detail_title">
                    <h2>레시피 상세</h2>
                </div>
                <div class="recipe_detail_block">
                    <div class="recipe_detail_content_header">
                        <div class="recipe_detail_content_header_top">
                            <h3>레시피 타이틀</h3>
                        </div>
                        <div class="recipe_detail_content_header_bot">
                            <div class="recipe_detail_content_header_bot_left">
                                <p>조회수 : 100</p>
                                <p>작성자 : 작성자</p>
                            </div>
                            <div class="recipe_detail_content_header_bot_right">
                                <p>작성일 : 2024-03-30</p>
                            </div>
                        </div>
                    </div>
                    <div class="recipe_content">
                        <div class="recipeImgBox">
                            <div class="recipe_img">
                                <img src="/img/food/examImg.jpg" alt="레시피 이미지">
                            </div>
                        </div>
                        <div class="recipe_txt">
                            <div class="recipeTxtBox">
                                <div class="recipeTxtTitle">
                                    <p>재료</p>
                                </div>
                                <div class="recipeMtBox">
                                    <div class="recipeMt">
                                        <div class="recipeMtTitle">
                                            <p>주재료</p>
                                        </div>
                                        <div class="recipeMts">
                                            <div class="recipeMtnames">
                                                <p>재료1</p>
                                                <p>재료2</p>
                                                <p>재료3</p>
                                            </div>
                                            <div class="recipeMtamounts">
                                                <p>양1</p>
                                                <p>양2</p>
                                                <p>양3</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="recipeMt">
                                        <div class="recipeMtTitle">
                                            <p>양념</p>
                                        </div>
                                        <div class="recipeMts">
                                            <div class="recipeMtnames">
                                                <p>양념1</p>
                                                <p>양념2</p>
                                                <p>양념3</p>
                                            </div>
                                            <div class="recipeMtamounts">
                                                <p>양1</p>
                                                <p>양2</p>
                                                <p>양3</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </th:block>

</body>

</html>