<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{fragment/food_layout}">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <th:block layout:fragment="content">
        <link rel="stylesheet" href="/css/content/food/recipe_detail_copy_copy.css">
        <div id="wrap">
            <div class="inner">
                <div class="recipe_detail_title">
                    <h2>레시피 상세</h2>
                </div>
                <div class="recipe_detail">
                    <div class="recipe_detail_content_header">
                        <div class="recipe_detail_content_title">
                            <h3>레시피 타이틀</h3>
                        </div>
                        <div class="recipe_detail_content_header_bot">
                            <div class="recipe_detail_content_header_bot_left">
                                <p>조회수 : 100</p>
                                <p>작성자 : 작성자</p>
                            </div>
                            <div class="recipe_detail_content_header_bot_right">
                                <p>작성일 : 2021-01-01</p>
                            </div>
                        </div>
                    </div>
                    <div class="recipe_detail_img">
                        <div class="recipeImgBox">
                            <img src="/img/food/examImg.jpg" alt="레시피 이미지">
                        </div>
                    </div>
                    <div class="recipe_detail_txt">
                        <p>레시피 내용</p>
                        <div class="recipeTxtBox">
                            <div class="recipeMtBox">
                                <div class="recipeMt">
                                    <p>재료</p>
                                    <div class="recipeMts">
                                        <p>재료1</p>
                                        <p>재료2</p>
                                        <p>재료3</p>
                                    </div>
                                </div>
                                <div class="recipeMt">
                                    <p>양념</p>
                                    <div class="recipeMts">
                                        <p>양념1</p>
                                        <p>양념2</p>
                                        <p>양념3</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </th:block>

</body>
</html>