<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{fragment/main/main_layout}" xmlns:sec="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="UTF-8">
    <title></title>
    <!-- css 영역 -->
    <th:block layout:fragment="content_css">
        <link rel="stylesheet" href="/css/content/food/weatherFood.css">
    </th:block>
</head>

<body>
    <th:block layout:fragment="content">
        <input id="favoriteList" type="hidden" th:data-favorite-list="${favoriteList}">
        <div class="weatherWrap">
            <div class="foodTapBlock">
                <div class="foodTapInner">
                    <div class="foodTaps">
                        <a href="/food/searchFoodPage"><p class="foodTap allRecipe">모든 레시피</p></a>
                        <a href="/food/weatherFood"><p class="foodTap weatherRecipe">현재 날씨 추천 레시피</p></a>
                        <a onclick="window.location.href='/food/ddabongcode?ddabongCode=DDABONG_006'"><p class="foodTap myRecipe">날씨별 레시피</p></a>
                        <a sec:authorize="isAuthenticated()" href="/food/insertFoodForm"><p class="foodTap insertRecipe">나만의 레시피 등록</p></a>
                        <a class="anonymous" onclick="popup(askFrame)" sec:authorize="isAnonymous()" ><p class="foodTap insertRecipe">나만의 레시피 등록</p></a>
                    </div>
                </div>
            </div>
            <div class="weatherInner">
                <div class="weatherBlock">
                    <div class="weatherBlockInner">
                        <div class="weatherLeftBlock">
                            <div class="weatherTextBox">
                                <div class="regionParentBlock" th:each="regionParent : ${regionParents}">
                                    <p class="parentBox" onclick="toggleRegionChildBox(this)">[[${regionParent.regionParent}]]</p>
                                    <div class="regionChildBlock">
                                        <div class="regionChildBox" onclick="selectRegionChildBox(this)" th:if="${regionParent.areaCode == regionChild.areaCode}"
                                            th:each="regionChild : ${regionChilds}">
                                            <input class="nxValue" type="hidden" th:value="${regionChild.nx}">
                                            <input class="nyValue" type="hidden" th:value="${regionChild.ny}">
                                            <p class="regionChildText">[[${regionChild.regionChild}]]</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="weatherImgBox">
                            <div class="weatherImgTop">
                                <div class="weatherImgHeader">
                                    <p class="parentArea"></p>
                                    <p class="childArea"></p>
                                </div>
                            </div>
                            <div class="weatherImgMid">
                                <div class="weatherImg">
                                    <img class="" src="">
                                </div>
                                <div class="weatherTemp"></div>
                            </div>
                            <div class="weatherImgBot">
                                <div class="weatherTextTop">
                                    <p>하늘 상태 :</p>
                                    <p class="skyState"></p>
                                </div>
                                <div class="weatherTextBot">
                                    <div class="weatherRainLeft">
                                        <p>강수 확률 :</p>
                                        <p class="rainPer"></p>
                                    </div>
                                    <div class="weatherRainRight">
                                        <p>강수 형태 :</p>
                                        <p class="rainState"></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="ddabongRecipeContainer"></div>
                <div class="recentViewBlock" th:if="${recentViewList != null and #lists.size(recentViewList) != 0}">
                    <div class="food_title">
                        <p class="food_title1">최근 본 레시피</p>
                        <p class="food_title2">RECENT View</p>
                    </div>
                    <div class="recipes">

                        <div th:each="food, state : ${recentViewList}" class="recipe" th:if="${#lists.size(recentViewList) == 0}">
                            <a th:href="@{/food/detail(foodCode=${food.foodCode})}">
                                <div class="recipeImgBox">
                                    <img th:if="${food.foodImgVO.attachedFileName == null}" src="/img/food/examImg.jpg"
                                        alt="">
                                    <img th:if="${food.foodImgVO.attachedFileName != null}"
                                        th:src="${'/img/food/recipe/'+ food.foodImgVO.attachedFileName}" alt="">
                                </div>
                                <div class="recipeTextBox">
                                    <p>[[${food.foodTtl}]]</p>
                                </div>
                            </a>
                            <div class="recipeTextBox1">
                                <div class="recipeTextBox11">
                                    <p class="foodDifBox">
                                        <span>난이도</span>
                                        <span>:</span>
                                        <span>[[${food.foodDif}]]</span>
                                    </p>
                                    <p class="cntBox">
                                        <span>조회수</span>
                                        <span>[[${food.foodInqCnt}]] </span>
                                    </p>
                                    <p class="commentCntBox">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                                            fill="currentColor" class="bi bi-chat-dots" viewBox="0 0 16 16">
                                            <path
                                                d="M5 8a1 1 0 1 1-2 0 1 1 0 0 1 2 0m4 0a1 1 0 1 1-2 0 1 1 0 0 1 2 0m3 1a1 1 0 1 0 0-2 1 1 0 0 0 0 2" />
                                            <path
                                                d="m2.165 15.803.02-.004c1.83-.363 2.948-.842 3.468-1.105A9 9 0 0 0 8 15c4.418 0 8-3.134 8-7s-3.582-7-8-7-8 3.134-8 7c0 1.76.743 3.37 1.97 4.6a10.4 10.4 0 0 1-.524 2.318l-.003.011a11 11 0 0 1-.244.637c-.079.186.074.394.273.362a22 22 0 0 0 .693-.125m.8-3.108a1 1 0 0 0-.287-.801C1.618 10.83 1 9.468 1 8c0-3.192 3.004-6 7-6s7 2.808 7 6-3.004 6-7 6a8 8 0 0 1-2.088-.272 1 1 0 0 0-.711.074c-.387.196-1.24.57-2.634.893a11 11 0 0 0 .398-2" />
                                        </svg>
                                        <span>[[${food.foodCommentCnt}]]</span>
                                    </p>
                                </div>
                                <input type="hidden" class="foodCode" th:value="${food.foodCode}">
                                <input type="hidden" class="writer" th:value="${food.memberId}">
                                <div class="cartBox" onclick="addOrDelFav(this)">
                                    <div class="heartBox">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" fill="#ff3f3f"
                                            class="bi bi-heart mousedown" viewBox="0 0 16 16">
                                            <path
                                                d="m8 2.748-.717-.737C5.6.281 2.514.878 1.4 3.053c-.523 1.023-.641 2.5.314 4.385.92 1.815 2.834 3.989 6.286 6.357 3.452-2.368 5.365-4.542 6.286-6.357.955-1.886.838-3.362.314-4.385C13.486.878 10.4.28 8.717 2.01zM8 15C-7.333 4.868 3.279-3.04 7.824 1.143q.09.083.176.171a3 3 0 0 1 .176-.17C12.72-3.042 23.333 4.867 8 15" />
                                        </svg>
                                        <svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" fill="#ff3f3f"
                                            class="bi bi-heart-fill heartOff mousedown" viewBox="0 0 16 16">
                                            <path fill-rule="evenodd"
                                                d="M8 1.314C12.438-3.248 23.534 4.735 8 15-7.534 4.736 3.562-3.248 8 1.314" />
                                        </svg>
                                    </div>
                                    <p>
                                        <span>(</span>
                                        <span class="RcmmCnt">[[${food.foodRcmmCnt}]]</span>
                                        <span>)</span>
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div th:if="${#lists.size(recentViewList) != 0}">
                            <p>내용이 없습니다.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </th:block>
</body>
<!-- js 영역 -->
<th:block layout:fragment="content_js">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="/js/content/food/weatherFood.js"></script>
    <script src="/js/content/myPage/favorite.js"></script>
</th:block>

</html>