<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{fragment/myPage_layout}">

<head>
    <meta charset="UTF-8">
    <title>즐겨찾기</title>

    <!-- css영역 -->
    <th:block layout:fragment="content_css">

    </th:block>
</head>

<body>
<th:block layout:fragment="content">
    <link rel="stylesheet" href="/css/content/myPage/myPage_favorite.css">
    <h1>
        favorite
    </h1>
    <div id="wrap">
        <div class="fav_search">
            <form method="post" action="/">
                <input class="fav_search_input" type="text" placeholder="검색">
                <input class="fav_search_submit" id="fav_search_submit" type="submit" value="이미지넣어줘">
            </form>
        </div>
        <p class="col_header">
            <span class="fav_col_head col_1st">음식코드(보이지만 않게)</span>
            <span class="fav_col_head col_2nd">제목</span>
            <span class="fav_col_head col_3rd">음식 이름</span>
            <span class="fav_col_head col_4th">조회수</span>
            <span class="fav_col_head col_5th">즐겨찾기 등록수</span>
            <span class="fav_col_head col_6th">등록 날짜</span>
            <span class="fav_col_head col_7th"></span>
        </p>
        <th:block th:each="favorite, status:${myFavorite}">
            <div class="favorite">
                <p class="col_content">
                    <a><span class="fav_col col_1st">[[${favorite.foodCode}]]</span></a>
                    <a><span class="fav_col col_2nd" th:text="${favorite.foodVO.foodTtl}"></span></a>
                    <a><span class="fav_col col_3rd" th:text="${favorite.foodVO.foodName}"></span></a>
                    <a><span class="fav_col col_4th" th:text="${favorite.foodVO.foodInqCnt}"></span></a>
                    <a><span class="fav_col col_5th" th:text="${favorite.foodVO.foodRcmmCnt}"></span></a>
                    <a><span class="fav_col col_6th" th:text="${favorite.favoriteDate}"></span></a>
                    <span onclick="deleteFav(this)" class="fav_col col_7th">X</span>
                </p>
            </div>
        </th:block>
    </div>
    <script src="/js/content/myPage/favorite.js"></script>
</th:block>

<th:block layout:fragment="content_js">

</th:block>
</body>

</html>