<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{fragment/myPage/myPage_layout}">

<head>
    <meta charset="UTF-8">
    <title>즐겨찾기</title>

    <!-- css영역 -->
    <th:block layout:fragment="content_css">

    </th:block>
</head>

<body>
<th:block layout:fragment="content">
    <div id="wrap">
        <div class="alarmBlock"
        th:if="${alarmList == null or #lists.size(alarmList) == 0}">
        <p class="zeroAlarm">알람이 없습니다</p>
    </div>
        <input type="hidden" id="alarmCount" th:value="${alarmCount}"></input>
        <div class="alarmBlock"
            th:if="${alarmList != null and #lists.size(alarmList) != 0}">
            <div th:each="alarm, state : ${alarmList}" class="alarmBox">
                <div th:if="${alarm.alarmType == 'C'} and ${alarm.alarmCheck == 'N'}">
                    <a class="alarmTag"
                        th:href="@{/member/alarmDetail(alarmCode=${alarm.alarmCode}, foodCode=${alarm.foodCode})}">
                        <div class="alarmTop">
                            <span class="nicName">[[${alarm.memberName}]]</span>
                            <span>님이 댓글을 입력하셨습니다.</span><br>
                        </div>
                        <div class="alarmBot">
                            <p class="comTextBox">
                                <span>"</span>
                                <span class="comText">[[${alarm.content}]]</span>
                                <span>"</span>
                            </p>
                            <span class="alarmDate">[[${alarm.regDate}]]</span>
                        </div>
                    </a>
                    <div class="alarmIcon" onclick="deleteAlarm(this)" th:data-alarm-code="${alarm.alarmCode}">
                        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20"
                            fill="#888" class="bi bi-x" viewBox="0 0 16 16">
                            <path
                                d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708" />
                        </svg>
                    </div>
                </div>
                <div th:if="${alarm.alarmType == 'C'} and ${alarm.alarmCheck == 'Y'}">
                    <a class="alarmTag check"
                        th:href="@{/member/alarmDetail(alarmCode=${alarm.alarmCode}, foodCode=${alarm.foodCode})}">
                        <div class="alarmTop">
                            <span class="nicName">[[${alarm.memberName}]]</span>
                            <span>님이 댓글을 입력하셨습니다.</span><br>
                        </div>
                        <div class="alarmBot">
                            <p class="comTextBox">
                                <span>"</span>
                                <span class="comText">[[${alarm.content}]]</span>
                                <span>"</span>
                            </p>
                            <span class="alarmDate">[[${alarm.regDate}]]</span>
                        </div>
                    </a>
                    <div class="alarmIcon" onclick="deleteAlarm(this)" th:data-alarm-code="${alarm.alarmCode}">
                        <!-- <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20"
                            fill="#888" class="bi bi-x" viewBox="0 0 16 16">
                            <path
                                d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708" />
                        </svg> -->
                        <span>
                            삭제
                        </span>
                    </div>
                </div>
                <!-- <p th:if="${alarm.alarmType == 'F'}">
                    <span>[[${alarm.sendMemberId}]]</span>
                    <span>님이 회원님의 게시글을 추천했습니다.</span>
                </p> -->
            </div>
        </div>

        <th:block>
            <div class="pageBtnBox">
                <div class="btn_group">
                    <div class="pageBtn" th:if="${#lists.size(alarmList) != 0}">
                        <a class="page_prevBtn"
                            th:href="@{/myPage/myAlarm(nowPage=${memberVO.beginPage - 1},foodCode=${foodCode})}"><span
                                th:if="${memberVO.prev}">이전</span></a>
                        <th:block th:each="pageNum : ${#numbers.sequence(memberVO.beginPage, memberVO.endPage)}">
                            <a class="page_numBtn" th:href="@{/myPage/myAlarm(nowPage=${pageNum},foodCode=${foodCode})}"><span
                                    th:text="${pageNum}"></span></a>
                        </th:block>
                        <a class="page_nextBtn"
                            th:href="@{/myPage/myAlarm(nowPage=${memberVO.endPage + 1},foodCode=${foodCode})}"><span
                                th:if="${memberVO.next}">다음</span></a>
                    </div>
                </div>
            </div>
        </th:block>
        
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="/js/slick.min.js"></script>
    <script src="/js/content/myPage/myPage_myAlarm.js"></script>
    <!-- <script src="/js/fragment/ask_login.js"></script> -->
</th:block>
</div>
<th:block layout:fragment="content_js">

</th:block>
</body>

</html>