<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security6"
      layout:decorate="~{fragment/myPage/myPage_layout}">

<head>
    <meta charset="UTF-8">
    <title></title>

    <!-- css 영역 -->
    <th:block layout:fragment="content_css">

    </th:block>
</head>

<body>
<th:block layout:fragment="content">

    <H1>main</H1>

</th:block>
</body>
<!-- js 영역 -->
<th:block layout:fragment="content_js">

</th:block>

</html>