<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{fragment/myPage/myPage_layout}">

<head>
    <meta charset="UTF-8">
    <title>즐겨찾기</title>

    <!-- css영역 -->
    <th:block layout:fragment="content_css">
        <link rel="stylesheet" href="/css/content/myPage/myPage_editInform.css">
    </th:block>
</head>

<body>
    <th:block layout:fragment="content">

        <div class="replace">
            <div class="myPage_title">
                <p class="myPage_title1">개인정보 수정</p>
                <p class="myPage_title2">INFO EDIT</p>
            </div>
            <div class="userInfo" th:object="${member}">
                <!-- <form class="form">
            <span>비밀번호 수정</span>
            <input name="memberPw">
            <button type="button" class="submit">수정</button>
        </form> -->
                <form class="form">
                    <div class="myPage_icon name">
                        <svg xmlns="http://www.w3.org/2000/svg" width="33" height="33" fill="#ffd57a"
                            class="bi bi-person-circle" viewBox="0 0 16 16">
                            <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0" />
                            <path fill-rule="evenodd"
                                d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8m8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1" />
                        </svg>
                    </div>
                    <span>이름</span>
                    <div class="defaultBox">
                        <p th:text="*{memberName}"></p>
                        <button type="button" class="updateBtn" onclick="updateFormGo(this)">수정하기</button>
                    </div>
                    <div class="updateForm off">
                        <input th:field="*{memberName}">
                        <button type="button" class="submit">수정완료</button>
                    </div>
                </form>
                <form class="form">
                    <div class="myPage_icon">
                        <svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" fill="#ffd57a"
                            class="bi bi-telephone-fill" style="margin-top: 5px;" viewBox="0 0 16 16">
                            <path fill-rule="evenodd"
                                d="M1.885.511a1.745 1.745 0 0 1 2.61.163L6.29 2.98c.329.423.445.974.315 1.494l-.547 2.19a.68.68 0 0 0 .178.643l2.457 2.457a.68.68 0 0 0 .644.178l2.189-.547a1.75 1.75 0 0 1 1.494.315l2.306 1.794c.829.645.905 1.87.163 2.611l-1.034 1.034c-.74.74-1.846 1.065-2.877.702a18.6 18.6 0 0 1-7.01-4.42 18.6 18.6 0 0 1-4.42-7.009c-.362-1.03-.037-2.137.703-2.877z" />
                        </svg>
                    </div>
                    <span>전화번호</span>
                    <div class="defaultBox">
                        <p th:text="*{memberTel}"></p>
                        <button type="button" class="updateBtn" onclick="updateFormGo(this)">수정하기</button>
                    </div>
                    <div class="updateForm off">
                        <input th:field="*{memberTel}">
                        <button type="button" class="submit">수정완료</button>
                    </div>
                </form>
                <form class="form">
                    <div class="myPage_icon">
                        <svg xmlns="http://www.w3.org/2000/svg" style="margin-top: 5px;" width="22" height="22"
                            fill="#ffd57a" class="bi bi-people-fill" viewBox="0 0 16 16">
                            <path
                                d="M7 14s-1 0-1-1 1-4 5-4 5 3 5 4-1 1-1 1zm4-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6m-5.784 6A2.24 2.24 0 0 1 5 13c0-1.355.68-2.75 1.936-3.72A6.3 6.3 0 0 0 5 9c-4 0-5 3-5 4s1 1 1 1zM4.5 8a2.5 2.5 0 1 0 0-5 2.5 2.5 0 0 0 0 5" />
                        </svg>
                    </div>
                    <span>성별</span>
                    <div class="defaultBox">
                        <p th:text="*{memberGender}"></p>
                        <button type="button" class="updateBtn" onclick="updateFormGo(this)">수정하기</button>
                    </div>
                    <div class="updateForm off">
                        <div class="input gender">
                            <label class="gender_check male">
                                <input type="radio" name="memberGender" value="남" checked>
                                <span>남</span>
                            </label>
                            <label class="gender_check female">
                                <input type="radio" name="memberGender" value="여">
                                <span>여</span>
                            </label>
                        </div>
                        <button type="button" class="submit">수정완료</button>
                    </div>
                </form>
                <form class="form">
                    <div class="myPage_icon">
                        <svg xmlns="http://www.w3.org/2000/svg" style="margin-top: 5px;" width="22" height="22"
                            fill="#ffd57a" class="bi bi-emoji-smile-fill" viewBox="0 0 16 16">
                            <path
                                d="M8 16A8 8 0 1 0 8 0a8 8 0 0 0 0 16M7 6.5C7 7.328 6.552 8 6 8s-1-.672-1-1.5S5.448 5 6 5s1 .672 1 1.5M4.285 9.567a.5.5 0 0 1 .683.183A3.5 3.5 0 0 0 8 11.5a3.5 3.5 0 0 0 3.032-1.75.5.5 0 1 1 .866.5A4.5 4.5 0 0 1 8 12.5a4.5 4.5 0 0 1-3.898-2.25.5.5 0 0 1 .183-.683M10 8c-.552 0-1-.672-1-1.5S9.448 5 10 5s1 .672 1 1.5S10.552 8 10 8" />
                        </svg>
                    </div>
                    <span>닉네임</span>
                    <div class="defaultBox">
                        <p th:text="*{nickName}"></p>
                        <button type="button" class="updateBtn" onclick="updateFormGo(this)">수정하기</button>
                    </div>
                    <div class="updateForm off">
                        <input th:field="*{nickName}">
                        <button type="button" class="submit">수정완료</button>
                    </div>
                </form>
                <form class="form pw">
                    <div class="myPage_icon" style="width: 33px;">
                        <svg xmlns="http://www.w3.org/2000/svg" style="margin-top: 6px;" width="22" height="22"
                            fill="#ffd57a" class="bi bi-shield-lock-fill" viewBox="0 0 16 16">
                            <path fill-rule="evenodd"
                                d="M8 0c-.69 0-1.843.265-2.928.56-1.11.3-2.229.655-2.887.87a1.54 1.54 0 0 0-1.044 1.262c-.596 4.477.787 7.795 2.465 9.99a11.777 11.777 0 0 0 2.517 2.453c.386.273.744.482 1.048.625.28.132.581.24.829.24s.548-.108.829-.24a7.159 7.159 0 0 0 1.048-.625 11.775 11.775 0 0 0 2.517-2.453c1.678-2.195 3.061-5.513 2.465-9.99a1.541 1.541 0 0 0-1.044-1.263 62.467 62.467 0 0 0-2.887-.87C9.843.266 8.69 0 8 0zm0 5a1.5 1.5 0 0 1 .5 2.915l.385 1.99a.5.5 0 0 1-.491.595h-.788a.5.5 0 0 1-.49-.595l.384-1.99A1.5 1.5 0 0 1 8 5z">
                            </path>
                        </svg>
                    </div>

                    <p>비밀번호</p>
                    <div class="defaultBox">
                        <p class="checkPw">
                            <a th:href="@{/member/changePw}">
                                <span class="checkIcon">*</span>
                                <span class="checkText">비밀번호 찾기 페이지로 이동</span>
                                <svg xmlns="http://www.w3.org/2000/svg" width="17" height="17" fill="#666"
                                    class="bi bi-chevron-right" viewBox="0 0 16 16">
                                    <path fill-rule="evenodd"
                                        d="M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708">
                                    </path>
                                </svg>
                            </a>
                        </p>
                    </div>

                </form>
                <form action="/member/deleteMember" method="POST" id="memberDown">
                    <input type="hidden" name="memberId" th:value="${user}">
                    <button class="goToHell" type="button" onclick="memberDown(true)">회원 탈퇴하기</button>

                </form>


            </div>
            <div class="pwAlarmInner">
                <div class="pwAlarmPopup">
                    <div class="alarmTextBox">
                        <p class="alarmText">비밀번호가 일치하지 않습니다.</p>
                    </div>
                    <div class="alarmBtnBox">
                        <button class="alarmBtn yes" onclick="okBtn(this)">확인</button>
                    </div>
                </div>
            </div>
            <div class="badGateWay pwAlarmInner">
                <div class="pwAlarmPopup">
                    <div class="alarmTextBox">
                        <p class="alarmText">사용자의 입력값에 문제가 있습니다.</p>
                    </div>
                    <div class="alarmBtnBox">
                        <button class="alarmBtn yes" onclick="okBtn(this)">확인</button>
                    </div>
                </div>
            </div>
            <div class="internerServerError pwAlarmInner">
                <div class="pwAlarmPopup">
                    <div class="alarmTextBox">
                        <p class="alarmText">사용 중인 닉네임입니다.</p>
                    </div>
                    <div class="alarmBtnBox">
                        <button class="alarmBtn yes" onclick="okBtn(this)">확인</button>
                    </div>
                </div>
            </div>
            <div class="areYouSure pwAlarmInner">
                <div class="pwAlarmPopup">
                    <div class="alarmTextBox">
                        <p class="alarmText">경고! 정말로 회원탈퇴를 하시겠습니까?</p>
                    </div>
                    <div class="alarmBtnBox">
                        <button class="alarmBtn yes" onclick="doMemberDown()">확인</button>
                        <button class="alarmBtn yes" onclick="memberDown(false)">취소</button>
                    </div>
                </div>
                <div class="editCommite pwAlarmInner">
                    <div class="pwAlarmPopup">
                        <div class="alarmTextBox">
                            <p class="alarmText">회원정보를 수정합니다.</p>
                        </div>
                        <div class="alarmBtnBox">
                            <button class="alarmBtn yes" id="commitOk" onclick="">확인</button>
                            <button class="alarmBtn no" id="commitNo" onclick="">취소</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <script src="/js/content/myPage/myPage_editInform.js"></script>
    </th:block>
    <th:block layout:fragment="content_js">

    </th:block>
</body>

</html>