<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{fragment/myPage/myPage_layout}">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/css/content/myPage/myPage_myContent.css">
    <!-- css영역 -->
    <th:block layout:fragment="content_css">

    </th:block>
</head>

<body>
<th:block layout:fragment="content">
    <input id="favoriteList" type="hidden" th:data-favorite-list="${favoriteList}">
        
    <div id="wrap">
        <div class="myContent_title">
            <p class="myContent_title1">내가 쓴 글</p>
            <p class="myContent_title2">My Content</p>
        </div>
        <div class="upper_bar">
            <div id="content_food" class="up btn on">레시피</div>
            <div id="content_comment" class="up_btn">댓글</div>
        </div>

        <div id="replacePosition">

            
        </div>
    </div>

    
    <script src="/js/content/myPage/myPage_myContent.js"></script>
    <script src="/js/content/myPage/favorite.js"></script>
</th:block>
<th:block layout:fragment="content_js">

</th:block>
</body>

</html>