<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{fragment/myPage/myPage_layout}">

<head>
    <meta charset="UTF-8">
    <title>즐겨찾기</title>

    <!-- css영역 -->
    <th:block layout:fragment="content_css">

    </th:block>
</head>

<body>
<th:block layout:fragment="content">

<div class="replace">
    <h1 class="mention">비밀번호 인증이 필요 합니다.</h1>
    <form class="SecondPasswordform">
        <span>비밀번호</span>
        <input name="memberPw" type="password">
        <button type="button" class="submit" onclick="submitSecondPasswordChk(this)">확인</button>
    </form>
</div>
<script src="/js/content/myPage/myPage_myDetails.js"></script>
</th:block>
<th:block layout:fragment="content_js">

</th:block>
</body>

</html>