@charset "UTF-8";

/* 기본셋팅, 공통값 */
body,
input {
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 14px;
    line-height: 1.5;
    color: #121212;
}

img,
input,
button {
    vertical-align: top;
}

input,
button {
    padding: 0;
}

a {
    text-decoration: none;
}

textarea {
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 14px;
    line-height: 1.5;
    color: #121212;
    resize: none;
}

.hide {
    position: fixed;
    top: -99999px;
    left: -99999px;
    display: block;
    width: 0;
    height: 0;
    overflow: hidden;
}
#wrap{
    position: relative;
    width: 100%;
}
.inner{
    width: 1200px;
    margin: 0 auto;
}
.food_title{
    display: -webkit-inline-box;
    margin: 0 0 20px 20px;
}
.food_title1{
    color: #333;
    font-size: 23px;
    font-weight: 700;
    margin-right: 10px;
}
.food_title2{
    margin: 8px 10px 3px 0;
    font-size: 17px;
    font-weight: 700;
    color: #f3c053;
}

/* 레시피 헤더 */
.recipeBlock{
    width: 1200px;
    height: auto;
    box-sizing: border-box;
    border-top: 1px solid #333;
    border-bottom: 1px solid #333;
}
.recipe_header_top{
    border-bottom: 1px solid #dadada;
}
.recipe_title_box{
    display: flex;
    padding: 20px;
}
.recipe_title{
    font-size: 20px;
    color: #333;
}
.recipe_cate{
    margin-right: 10px;
}
.cateText{
    font-size: 20px;
    color: #f3c053;
    margin: 0 3px;
}