@charset "UTF-8";

/* 기본셋팅, 공통값 */
body,
input {
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 14px;
    line-height: 1.5;
    color: #121212;
}

img,
input,
button {
    vertical-align: top;
}

input,
button {
    padding: 0;
}

a {
    text-decoration: none;
}

textarea {
    resize: none;
}

.hide {
    position: fixed;
    top: -99999px;
    left: -99999px;
    display: block;
    width: 0;
    height: 0;
    overflow: hidden;
}

#wrap {
    position: relative;
    width: 100%;
}

.inner {
    padding: 30px 0;
    width: 1200px;
    margin: 0 auto;
    position: relative;
}

.recipe_detail_content_header_bot {
    display: flex;
    justify-content: space-between;
}

.recipe_detail_content_header_bot .recipe_detail_content_header_bot_left {
    display: flex;
}

.recipe_detail_content_header_bot .recipe_detail_content_header_bot_left p {
    margin-right: 20px;
}

.recipe_content {
    width: 100%;
    display: flex;
}

.recipe_img {
    margin: 0 10px;
    width: 300px;
    height: 100%;
}
.recipe_txt {
    width: 100%;
    display: flex;
}

.recipeTxtBox {
    width: 100%;
    display: flex;
    position: relative;
}
.recipeMtBox {
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.recipeTxtTitle{
    display: flex;
    position: absolute;
    text-align: center;
    right: 50%;
    font-size: 18px;
    top: -16px;
    z-index: 10;
}
.recipeMtTitle{
    display: flex;
    text-align: center;
    position: relative;
    left: 50%;
}

.recipeMt {
    width: 100%;
    padding: 20px;
}

.recipeMts {
    display: flex;
    padding: 20px;
    justify-content: space-between;
}