/* 기본셋팅, 공통값 */
body,
input {
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 14px;
    line-height: 1.5;
    color: #121212;
}

img,
input,
button {
    vertical-align: top;
}

input,
button {
    padding: 0;
}

a {
    text-decoration: none;
}

textarea {
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 14px;
    line-height: 1.5;
    color: #121212;
    resize: none;
}

.hide {
    position: fixed;
    top: -99999px;
    left: -99999px;
    display: block;
    width: 0;
    height: 0;
    overflow: hidden;
}
.weatherWrap {
    width: 100%;
    border-bottom: 2px solid #f4f4f4;
}

.weatherInner {
    position: relative;
    width: 1260px;
    height: auto;
    margin: 0 auto 50px auto;
}
.weatherBlock{
    position: relative;
    margin-bottom: 50px;
}
.weatherBlockInner{
    width: 1200px;
    position: relative;
    margin: 0 auto;
    height: 250px;
    box-sizing: border-box;
    display: flex;
}
.weatherLeftBlock{
    width: 400px;
}
.weatherTextBox{
    width: 200px;
    height: 250px;
    overflow-y: scroll;
}
.regionParentBlock{
    display: flex;
}
.parentBox, .regionChildBox{
    color: #666;
    cursor: pointer;
    padding: 9px 0 9px 7px;
    box-sizing: border-box;
    width: 190px;
    background-color: #fff;
    cursor: pointer;
}
.parentBox:hover, .regionChildBox:hover{
    color: #fff;
    background: linear-gradient(180deg, #f3c053 0%, #ffd57a 100%), linear-gradient(0deg, #FFFFFF, #FFFFFF);
}
.regionChildBlock{
    width: 200px;
    overflow-y: scroll;
    display: none;
    position: absolute;
    top: 0;
    left: 202px;
    height: 250px;
}
.regionChildBlock.on {
    display: block; /* on 클래스가 있는 경우 보이도록 설정 */
}
.parentBox.selected, .regionChildBox.selected {
    color: #fff;
    background: linear-gradient(180deg, rgb(242, 146, 33) 0%, #f3c053 100%), linear-gradient(0deg, #FFFFFF, #FFFFFF);
}
.weatherImgBox{
    background: linear-gradient(180deg, rgba(242, 244, 247, 0.75) 0%, rgba(255, 255, 255, 0.75) 100%), linear-gradient(0deg, #FFFFFF, #FFFFFF);
    width: 798px;
    box-sizing: border-box;
}
.weatherImgHeader{
    display: flex;
    position: relative;
    padding: 19px 93px 8px 50px;
    vertical-align: top;
}
.weatherImgHeader p {
    font-size: 26px;
    font-weight: 600;
    letter-spacing: -0.3px;
    color: #000;
    color: rgba(var(--gray0), 1);
    vertical-align: top;
}
.parentArea{
    margin-right: 5px;
}
.weatherImgMid{
    margin-bottom: -5px;
    display: flex;
}
.weatherImg{
    width: 110px;
    margin-left: 277px;
}
.weatherImg img{
    width: 100%;
    height: auto;
}
.weatherTemp{
    font-size: 60px;
    font-weight: 700;
    letter-spacing: -0.95px;
    color: #202020;
    margin: 7px 0 0 -39px;
}
.weatherTextTop{
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
}
.weatherTextTop p{
    font-size: 20px;
    letter-spacing: -0.7px;
    color: #222225;
}
.skyState{
    margin-left: 6px;
}
.weatherTextBot{
    font-size: 16px;
    justify-content: center;
    display: flex;
    letter-spacing: -0.7px;
    color: #222225;
}
.weatherRainLeft, .weatherRainRight{
    display: flex;
}
.weatherRainLeft{
    margin-right: 20px;
}
.rainPer, .rainState{
    margin-left: 5px;
}
/* .regionChildBlock::-webkit-scrollbar,
.outputbox::-webkit-scrollbar {
  width: 12px;
}

.regionChildBlock::-webkit-scrollbar-track,
.outputbox::-webkit-scrollbar-track {
  background: #fff;
}

.regionChildBlock::-webkit-scrollbar-thumb,
.outputbox::-webkit-scrollbar-thumb {
  background-color: #dadada;
  border-radius: 6px;
  border: 3px solid #fff;
}

.regionChildBlock::-webkit-scrollbar-thumb:hover,
.outputbox::-webkit-scrollbar-thumb:hover {
  background-color: #b0b0b0;
  cursor: pointer;
} */

::-webkit-scrollbar {

    width: 8px; /* 스크롤바 너비 */
}

::-webkit-scrollbar-track {
    background-color: transparent; /* 스크롤바 track 배경색 */
}

::-webkit-scrollbar-thumb {
    cursor: pointer;
    background-color: #dadada; /* 스크롤바 thumb 색상 */
    border-radius: 2px; /* 스크롤바 thumb 모서리 반경 */
}

::-webkit-scrollbar-thumb:hover {
    background-color: #999; /* 스크롤바 thumb에 호버시 색상 */
}
.foodTapBlock{
    background: linear-gradient(180deg, #0000000f 0%, rgba(255, 255, 255, 0.75) 100%), linear-gradient(0deg, #FFFFFF, #FFFFFF);
    width: 100%;
}
.foodTapInner{
    position: relative;
    margin: 0 auto;
    width: 1200px;
}
.foodTaps{
    width: 100%;
    display: flex;
}
.foodTap{
    transition: all 0.3s ease;
    cursor: pointer;
    background: linear-gradient(180deg, #0000000f 0%, rgba(255, 255, 255, 0.75) 100%), linear-gradient(0deg, #FFFFFF, #FFFFFF);
    box-sizing: border-box;
    width: 300px;
    height: 45px;
    padding: 10px;
    text-align: center;
    color: #666;
    font-size: 16px;
    border-right: 3px solid #fff;
}
.foodTap.myRecipe{
    border: 0;
}
.foodTap:hover{
    color: #fff;
    background: linear-gradient(180deg, #f3c053cf 0%, #ffd57a7d 100%), linear-gradient(0deg, #FFFFFF, #FFFFFF);
}
.foodTap.selected, .regionChildBox.selected {
    color: #fff;
    background: linear-gradient(180deg, #f29221d1 0%, #ffd57a 100%), linear-gradient(0deg, #fff, #FFFFFF);
}
